<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">


    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/myPage/sidebar/sidebar.css"/>

</th:block>

<div layout:fragment="content">

    <div id="container">

<!--        invitePlan 내용-->
        <div>
            <h1>[[${response.getInvitePlanDto().getName()}]]</h1>
        </div>

<!--        친구 내용-->
        <div>
            <div th:each="member, status: ${response.getInvitePlanDto().getInvitePlanMemberDtoList()}">
                <div th:text="${member.getName()}"></div>
                <div th:text="${member.getEmail()}"></div>
                <h6>[[${member.getName()}]]</h6>
                <h6>[[${member.getEmail()}]]</h6>

            </div>
        </div>

<!--        route 내용-->
        <div>
            <div th:each="route, status: ${response.getInvitePlanDto().getRouteDtoList()}">
                <div th:text="${route.getDay()}"></div>
                <div th:each="location, status: ${route.getLocationDtos()}">
                    <div th:text="${location.getName()}"></div>
                    <div th:text="${location.getAddress()}"></div>
                </div>
            </div>
        </div>
    </div>


</div>
</html>