<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }


        .left-half {
            float: left;
            width: 50%;
        }

        /* 오른쪽 절반 스타일 */
        .right-half {
            float: right;
            width: 50%;
        }


        /*.InvitedHangOutBox{*/
        /*  margin: 20px;*/
        /*  padding: 10px;*/
        /*  width: 680px;*/
        /*  height: 110px;*/
        /*  background-color: #fff; !* 배경색 지정 *!*/
        /*  border-radius: 8px; !* 테두리를 둥글게 만듭니다. *!*/
        /*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); !* 그림자 효과 추가 *!*/
        /*}*/

        .checkableFriendBox{

            margin: 20px;
            padding: 10px;
            width: 650px;
            height: 110px;
            background-color: #fff; /* 배경색 지정 */
            border-radius: 8px; /* 테두리를 둥글게 만듭니다. */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
        }

        .checkableLocationBox{

            margin: 20px;
            padding: 10px;
            width: 340px;
            height: 110px;
            background-color: #fff; /* 배경색 지정 */
            border-radius: 8px; /* 테두리를 둥글게 만듭니다. */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
        }

        #locationChecker{
            display: inline;
        }

        #friendChecker{
            display: inline;
        }


        .locationBoxImg{
            float : left;
            width : 90px;
            height : 90px;
        }

        .locationTextBox{
            float: right;
            width: 150px; /* 텍스트를 표시할 요소의 너비를 지정합니다. */
            height: 90px;
            white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 합니다. */
            overflow: hidden; /* 넘치는 부분은 숨김 처리합니다. */
            text-overflow: ellipsis; /* 넘치는 텍스트에 '...'을 추가하여 표시합니다. */

        }

        .locationText {
            margin-bottom: 0;

        }


    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });

        function checkSelectedLocation(){
            var checkboxes = document.getElementsByClassName('locationCheckBox');
            var checkedLocationList = [];

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    checkedLocationList.push(checkboxes[i].value);
                }
            }

            console.log('checkSelectedLocation -> checkedLocationList :', checkedLocationList);

            selectLocation(checkedLocationList)
        }

        function selectLocation(checkedLocationList){


            console.log('selectFriend -> checkedFriendEmailList :', checkedLocationList);

            const selectedBox = document.getElementById("selectedLocationList");

            for (var i = 0; i < checkedLocationList.length; i++) {

                const listItem = document.createElement('div');

                listItem.className = 'selectedLocationBox';
                listItem.innerHTML = `${checkedLocationList[i]}`;

                selectedBox.appendChild(listItem);

                console.log("checkedLocationList.value : " + checkedLocationList[i]);
            }
        }

        function checkSelectedFriend(){
            var checkboxes = document.getElementsByClassName('friendCheckBox');
            var checkedFriendEmailList = [];

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    checkedFriendEmailList.push(checkboxes[i].value);
                }
            }

            console.log('calculateSelectedFriend -> checkedFriendEmailList :', checkedFriendEmailList);

            selectFriend(checkedFriendEmailList)
        }

        function selectFriend(checkedFriendEmailList){


            console.log('selectFriend -> checkedFriendEmailList :', checkedFriendEmailList);

            const selectedBox = document.getElementById("selectedFriendList");

            for (var i = 0; i < checkedFriendEmailList.length; i++) {

                const listItem = document.createElement('div');

                listItem.className = 'selectedFriendBox';
                listItem.innerHTML = `${checkedFriendEmailList[i]}`;

                selectedBox.appendChild(listItem);

                console.log("checkedFriendEmailList.value : " + checkedFriendEmailList[i]);
            }
        }

        function sendInvite() {

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var invitePlanMemberList = [];
            var invitePlanMemberEmailList = document.getElementsByClassName("selectedFriendBox");
            for (var i = 0; i < invitePlanMemberEmailList.length; i++) {

                const InvitePlanMemberRequest = {
                    friendEmail: invitePlanMemberEmailList[i].innerHTML
                };

                invitePlanMemberList.push(InvitePlanMemberRequest);
                // invitePlanMemberList.push(invitePlanMemberEmailList[i].innerHTML);
            }
            console.log(invitePlanMemberList);


            var invitePlanLocation = [];
            var invitePlanLocationList = document.getElementsByClassName("selectedLocationBox");
            for (var i = 0; i < invitePlanLocationList.length; i++) {

                const InvitePlanLocationRequest = {
                    favoriteLocationId : invitePlanLocationList[i].innerHTML
                };

                invitePlanLocation.push(InvitePlanLocationRequest);
                // invitePlanLocation.push(invitePlanLocationList[i].innerHTML);
            }
            console.log(invitePlanLocation);

            var paramData = {
                name : document.getElementById("name").value,
                planPeriod : document.getElementById("planPeriod").value,
                supply : document.getElementById("supply").value,
                departDate : document.getElementById("departDate").value,
                arriveDate : document.getElementById("arriveDate").value,
                invitePlanMemberRequestList : invitePlanMemberList,
                invitePlanLocationRequestList : invitePlanLocation
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : "/plan/invite",
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("초대 신청이 성공되었습니다.");
                    location.href='/';

                },
                error : function(jqXHR, status, error, request){

                    console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                        // alert(jqXHR.responseText);
                    }
                }
            });

        }

        function showBasicInfo(){

            //이전 등록 내용을 삭제하고 처음부터 다시 작성 (friend , location 포함)

            //1. 이전 등록 내용 삭제

            //2. info view 를 show 로 변경 나머지는 안보이게
        }

        function calculateDateDiff(){
            // 두 날짜 생성
            var date1 = document.getElementById("departDate").val();
            var date2 = document.getElementById("arriveDate").val();

// 밀리초로 변환 후 빼기
            var diffInMilliseconds = date1 - date2;

// 밀리초를 일로 변환
            var diffInDays = Math.floor(diffInMilliseconds / (1000 * 60 * 60 * 24));

            console.log(diffInDays); // 두 날짜 간의 일수 출력
            document.getElementById("dateDiffVal").value = diffInDays;

        }
    </script>

</th:block>

<div layout:fragment="content">

    <div class="container">

        <div class="sidebar">
            <ul>
                <li><a href="../main.html">홈으로 돌아가기</a></li>
                <li><button id="showBasicInfoBtn" onclick="showBasicInfo()">기본 정보 입력</button></li>
                <li><button id="showSelectFriendBtn" onclick="showSelectFriend()">친구 선택</button></li>
                <li><button id="showSelectLocationBtn" onclick="showSelectLocation()">장소 선택</button></li>
            </ul>
        </div>

        <div id="basicInfoView">
            <div>
                이름 : <input id="name" type="text" >
            </div>

            <div>
                여행 기간 :
                <select id="planPeriod"name="planPeriod">
                    <option value="DAYTRIP">당일</option>
                    <option value="LONGTRIP">당일X</option>
                </select>
            </div>

            <div>
                준비물 : <input id="supply" type="text">
            </div>

            <div>
                출발 날짜 : <input id="departDate" type="date" >
                종료 날짜 : <input id="arriveDate" type="date" >
            </div>

            <input id="dateDiffVal" type="hidden">

            <button id="calculateDateDiffBtn" onclick="calculateDateDiff()"></button>
<!--            <div>-->
<!--&lt;!&ndash;            location 찾는법 -> 검색으로 찾기 , 즐겨찾기에서 찾기 &ndash;&gt;-->
<!--                <button type="button" data-toggle="modal" data-target="#selectLocationModal">장소 선택</button>-->
<!--                <button type="button" data-toggle="modal" data-target="#selectFriendModal">친구 선택</button>-->
<!--            </div>-->

        </div>
        <div id="selectFriendView">

            <div id="selectedFriendList">

            </div>

            <div class="checkableFriendBox" th:each="friendDto, status: ${friendListResponse.getFriendDtoList()}">

                <div class="left-half">
                    <input id="friendChecker" class="friendCheckBox"  type="checkbox" th:value="${friendDto.friendEmail}">
                    <!--                          체크박스-->
                    <div th:if="${#strings.isEmpty(friendDto.friendImgUrl)}">
                        <img class = "locationBoxImg" src="/img/noImg.jpg">
                    </div>
                    <div th:unless="${#strings.isEmpty(friendDto.friendImgUrl)}">
                        <img class = "locationBoxImg" th:src="${friendDto.friendImgUrl}">
                    </div>
                    <div class="locationTextBox">
                        <p class="locationText">[[${friendDto.friendName}]]</p>
                    </div>
                </div>
                <div class="right-half">
                    <input id="friendSupply" type="text">
                </div>
                <div class="clear"></div>

            </div>


            <!--                            <button id="selectFriendBtn" th:value="${friendDto.friendEmail}" onclick="inviteHangOut(this.value)" type="button" class="btn btn-primary" data-dismiss="modal">요청 보내기</button>-->
            <button id="selectFriendBtn" onclick="checkSelectedFriend()" type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>

        <div id="selectLocationView">

            <div id="selectedLocationList">

            </div>

            <div class="checkableLocationBox" th:each="i : ${#numbers.sequence(1, 8)}">

                <input type="hidden" th:value="${i}">

                <div class="checkableLocationBox" th:each="favoriteLocation, status: ${friendListResponse.getFavoriteLocationList()}">
                    <input id="locationChecker" class="locationCheckBox" type="checkbox" th:value="${favoriteLocation.id}">
                    <!--                          체크박스-->
                    <div th:if="${#strings.isEmpty(favoriteLocation.picture1)}">
                        <img class = "locationBoxImg" src="/img/noImg.jpg">
                    </div>
                    <div th:unless="${#strings.isEmpty(favoriteLocation.picture1)}">
                        <img class = "locationBoxImg" th:src="${favoriteLocation.picture1}">
                    </div>
                    <div class="locationTextBox">
                        <p class="locationText">[[${favoriteLocation.name}]]</p>
                    </div>
                </div>
            </div>

            <button id="selectLocationBtn" onclick="checkSelectedLocation()" type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
            <button id="sendInvite" type="button" onclick="sendInvite()">요청 보내기</button>
        </div>
    </div>
</div>

</html>