<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        function showLocationDetail(inviteHangOutId){

            $.ajax({
                url      : "/hangOut/invitedList?inviteHangOutId="+inviteHangOutId,
                type     : "GET",
                cache   : false,
                success  : function(result, status){

                    location.href='/hangOut/invitedList?inviteHangOutId='+inviteHangOutId;

                },
                error : function(jqXHR, status, error, request){

                    console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                        // alert(jqXHR.responseText);
                    }
                }
            });
        }

        function acceptInvitedHangOut(inviteHangOutId){

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            console.log(inviteHangOutId)

            var paramData = {
                inviteHangOutId : inviteHangOutId
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : "/hangOut/acceptInvitedHangOut",
                type     : "POST",
                cache   : false,
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                success  : function(result, status){

                    location.href='/hangOut/invitedList';

                },
                error : function(jqXHR, status, error, request){

                    console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                        // alert(jqXHR.responseText);
                    }
                }
            });
        }

        function rejectInvitedHangOut(inviteHangOutId){

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            console.log(inviteHangOutId)

            var paramData = {
                inviteHangOutId : inviteHangOutId
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : "/hangOut/rejectInvitedHangOut",
                type     : "DELETE",
                cache   : false,
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                success  : function(result, status){

                    location.href='/hangOut/invitedList';

                },
                error : function(jqXHR, status, error, request){

                    console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                        // alert(jqXHR.responseText);
                    }
                }
            });
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/myPage/sidebar/sidebar.css"/>
    <style>
        .left-half {
            float: left;
            width: 50%;
        }

        /* 오른쪽 절반 스타일 */
        .right-half {
            float: right;
            width: 50%;
        }

        .InvitedHangOutBox{
            margin: 20px;
            padding: 10px;
            width: 550px;
            height: 230px;
            background-color: #fff; /* 배경색 지정 */
            border-radius: 8px; /* 테두리를 둥글게 만듭니다. */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
        }

        .hangOutImgBox{
            float : left;
        }

        .hangOutImg{
            width : 200px;
            height : 200px;
        }

        .hangOutTextBox{
            margin-left: 10px;
            float: left;
            width: 200px;
            height: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .hangOutBtnBox{
            float: right;
            width: 80px;
            height: 200px;
        }


        .locationText {
            margin-bottom: 0;

        }


        .clear{
            both: clear;
        }

        #showLocationDtlBtnBox {
            background: none;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }


    </style>
</th:block>

<div layout:fragment="content">


    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="/myPage/profile">myProfile</a></li>
                <li><a href="/myPage/requestFriendList">받은 친구 요청</a></li>
                <li><a href="/myPage/friendList">친구 목록</a></li>
                <li><a href="/hangOut/invitedList">받은 약속 초대 리스트</a></li>              <!-- 필요에 따라 메뉴 항목 추가 -->
                <li><a href="/plan/invitedList">받은 Plan 초대 리스트</a></li>
                <!--                내가 만든 Plan 과 초대를 받은 plan 을 따로 검색 가능하게 -->
                <li><a href="/plan/list">나의 Plan 리스트</a></li>
            </ul>
        </div>
        <div class="left-half">

            <div class="InvitedHangOutBox" th:each="invitedHangOut, status: ${invitedHangOutResponse.getInvitedHangOutDtoList()}">
                <div class="hangOutImgBox">
                    <button id="showLocationDtlBtnBox" th:value="${invitedHangOut.id}" onclick="showLocationDetail(this.value)">
                        <div th:if="${#strings.isEmpty(invitedHangOut.getPicture1())}">
                            <img class = "hangOutImg" src="/img/noImg.jpg">
                        </div>
                        <div th:unless="${#strings.isEmpty(invitedHangOut.getPicture1())}">
                            <img class = "hangOutImg" th:src="${invitedHangOut.getPicture1()}">
                        </div>
                    </button>
                </div>


                <div class="hangOutTextBox">
                    요청자 이름 : <div th:text="${invitedHangOut.getRequesterName()}" class="fs24 font-weight-bold updatable"></div>
                    요청자 이메일 : <div th:text="${invitedHangOut.getRequesterEmail()}" class="fs24 font-weight-bold updatable"></div>

                    장소 이름 : <div th:text="${invitedHangOut.getLocationName()}" class="fs24 font-weight-bold updatable"></div>
                    날짜  : <div th:text="${invitedHangOut.getDepartDateTime()}" class="fs24 font-weight-bold updatable"></div>
                </div>

                <div class="hangOutBtnBox">
                    <div th:switch="${invitedHangOut.inviteHangOutStatus}">
                        <span th:case="${T(com.dbproject.constant.InviteHangOutStatus).REJECTED}">거절됨</span>
                        <span th:case="${T(com.dbproject.constant.InviteHangOutStatus).ACCEPTED}">이미 수락됨</span>

                        <div th:case="${T(com.dbproject.constant.InviteHangOutStatus).WAITING}">
                            <button type="button" class="acceptInvitedHangOutBtn" th:value="${invitedHangOut.id}" onclick="acceptInvitedHangOut(this.value)">초대 수락</button>
                            <button type="button" class="rejectHangOutBtn" th:value="${invitedHangOut.id}" onclick="rejectInvitedHangOut(this.value)">초대 거절</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="right-half">
<!-- hangOut location detail 을 동적으로 가져오기 -->

            <div th:if="${invitedHangOutResponse.getInviteHangOutLocationDto().isEmpty()}">
                사진을 선택하면 장소 의 상세정보가 표시됩니다.
            </div>
            <div th:unless="${invitedHangOutResponse.getInviteHangOutLocationDto().isEmpty()}">
                <div class="hangOutLocationImg">
                    <img th:src="${invitedHangOutResponse.getInviteHangOutLocationDto().getPicture1()}" >
                </div>

                <div th:if="${invitedHangOutResponse.getInviteHangOutLocationDto().name != null}">
                    <p class="locationText"> name : [[${invitedHangOutResponse.getInviteHangOutLocationDto().name}]]</p>
                </div>

                <div th:if="${invitedHangOutResponse.getInviteHangOutLocationDto().address != null}">
                    <p class="locationText"> address : [[${invitedHangOutResponse.getInviteHangOutLocationDto().address}]]</p>
                </div>

                <div th:if="${invitedHangOutResponse.getInviteHangOutLocationDto().openTime != null}">
                    <p class="locationText"> open time : [[${invitedHangOutResponse.getInviteHangOutLocationDto().openTime}]]</p>
                </div>

                <div th:if="${invitedHangOutResponse.getInviteHangOutLocationDto().ticketInfo != null}">
                    <p class="locationText"> Fee Info : [[${invitedHangOutResponse.getInviteHangOutLocationDto().ticketInfo}]]</p>
                </div>

                <div th:if="${invitedHangOutResponse.getInviteHangOutLocationDto().tel != null}">
                    <p class="locationText"> Tel : [[${invitedHangOutResponse.getInviteHangOutLocationDto().tel}]]</p>
                </div>

                <a th:href="'/location/'+${invitedHangOutResponse.getInviteHangOutLocationDto().locationId}">자세히 보기</a>
            </div>
        </div>



    </div>
</div>
</html>