<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">


        $(document).ready(function() {


            $("#showUpdateImgBoxBtn").on("click" , function (){
                var updateImgBox = document.getElementById('updateImgBox');
                updateImgBox.style.display = 'block';

            });


            // $("#updateImgBtn").on("click", function () {
            //
            //     //토큰 안적으면 403 포비던 뜸
            //     var token = $("meta[name='_csrf']").attr("content");
            //     var header = $("meta[name='_csrf_header']").attr("content");
            //
            //     var formData = new FormData();
            //     formData.append('file',$("#updateImgInput").files[0])
            //
            //     $.ajax({
            //         url      : "/myPage/updateMemberImg",
            //         type     : "POST",
            //         processData: false,
            //         contentType : false,
            //         data     : formData,
            //         beforeSend : function(xhr){
            //             /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
            //             xhr.setRequestHeader(header, token);
            //         },
            //         cache   : false,
            //         success  : function(result, status){
            //             // location.href='/myPage/profile'
            //
            //
            //         },
            //         error : function(jqXHR, status, error, request){
            //
            //             alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)
            //
            //         }
            //     });
            // });

            $("#showUpdateProfile").on("click", function () {

                var updateDetail = document.getElementById('updateDetail');
                var update = document.getElementById('update');

                updateDetail.style.display = 'block';
                update.style.display = 'block';

                var showUpdateProfile = document.getElementById('showUpdateProfile');
                var showDetail = document.getElementById('showDetail');

                showUpdateProfile.style.display = 'none';
                showDetail.style.display = 'none';
            });


            $("#update").on("click", function () {

                //토큰 안적으면 403 포비던 뜸
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                var paramData = {
                    name : $("#updateName").val(),
                    address : $("#updateAddress").val()
                };

                var param = JSON.stringify(paramData);

                $.ajax({
                    url      : "/myPage/update",
                    type     : "PUT",
                    contentType : "application/json",
                    data     : param,
                    beforeSend : function(xhr){
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    dataType : "json",
                    cache   : false,
                    success  : function(result, status){
                        location.href='/myPage/profile'

                    },
                    error : function(jqXHR, status, error, request){

                        alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                    }
                });
            });

            $("#deleteMember").on("click", function () {

                //토큰 안적으면 403 포비던 뜸
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                // var paramData = {
                //     email : $("#userEmail").val(),
                // };
                // var param = JSON.stringify(paramData);

                $.ajax({
                    url      : "/myPage/delete",
                    type     : "DELETE",
                    contentType : "application/json",
                    beforeSend : function(xhr){
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    dataType : "json",
                    cache   : false,
                    success  : function(result, status){
                        location.href='/members/logout'
//**** 홈으로 리다이렉트는 되지만 Authentication 상태를 변경해야한다,
//                        성공시 홈으로 보내는게 아니라 로그아웃으로 보내면 해결!

                    },
                    error : function(jqXHR, status, error, request){

                        alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                    }
                });
            });


            $("#sendFriendRequest").on("click", function () {

                //토큰 안적으면 403 포비던 뜸
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                var paramData = {
                    friendEmail : $("#friendEmail").val(),
                    memo : $("#memo").val()
                };

                var param = JSON.stringify(paramData);

                $.ajax({
                    url      : "/myPage/addFriendRequest",
                    type     : "POST",
                    contentType : "application/json",
                    data     : param,
                    beforeSend : function(xhr){
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    dataType : "json",
                    cache   : false,
                    success  : function(result, status){
                        location.href='/myPage/profile'

                    },
                    error : function(jqXHR, status, error, request){

                        alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                    }
                });
            });



        });
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/myPage/sidebar/sidebar.css"/>
  <style>

      #updateDetail{
          display: none;
      }

      #update{
          display: none;
      }

      /* 컨텐츠 영역 스타일 */
      .contentBox {
          flex: 1;
          padding: 20px;
      }

      .memberImg{
          width: 200px;
          height: 200px;

      }

      #updateImgBox{
          display: none;
      }

  </style>
</th:block>

<div layout:fragment="content">

    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="/myPage/profile">myProfile</a></li>
                <li><a href="/myPage/requestFriendList">받은 친구 요청</a></li>
                <li><a href="/myPage/friendList">친구 목록</a></li>
                <li><a href="/hangOut/invitedList">받은 약속 초대 리스트</a></li>
                <li><a href="/plan/invitedList">받은 Plan 초대 리스트</a></li>
                <li><a href="/plan/sentInviteList">보낸 Plan 초대 리스트</a></li>
<!--                내가 만든 Plan 과 초대를 받은 plan 을 따로 검색 가능하게 -->
                <li><a href="/plan/list">나의 Plan 리스트</a></li>
            </ul>
        </div>
        <div class="contentBox">

            <input id="userEmail" th:text="${user.getEmail()}" type="hidden" class="fs24 font-weight-bold">

            <h2 class="mb-4">
                내 정보
            </h2>



            <div id="memberImgBtnBox">
                <div th:if="${#strings.isEmpty(user.getImgUrl())}">
                    <img class="memberImg" src="/img/noImg.jpg">
                </div>
                <div th:unless="${#strings.isEmpty(user.getImgUrl())}">
                    <img class="memberImg" th:src="${user.getImgUrl()}">
                </div>
            </div>
            <button id="showUpdateImgBoxBtn">이미지 수정</button>

            <div id="updateImgBox">
                <form id="imageForm" method="post" enctype="multipart/form-data">
                    <input id="updateImgInput" type="file" name="memberImgFile">
                    <button id="updateImgBtn" th:formaction="@{/myPage/updateMemberImg}" type="submit">확인</button>
<!--                    form 전송시 -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </form>
            </div>



            이메일 : <div th:text="${user.getEmail()}" class="fs24 font-weight-bold"></div>
            <div id="showDetail">
                이름 : <div  th:text="${user.getName()}" class="fs24 font-weight-bold updatable"></div>
                주소 : <div th:text="${user.getAddress()}" class="fs24 font-weight-bold updatable"></div>
            </div>

            <div id="updateDetail">
                이름 : <input id="updateName" class="fs24 font-weight-bold"><br>
                주소 : <input id="updateAddress" class="fs24 font-weight-bold">
            </div>

            <button id="showUpdateProfile">회원 정보 수정</button>
            <button id="update">수정</button>
            <button id="deleteMember">회원 탈퇴</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1"><i class="fa-solid fa-user-group fa-xl"></i></button>

            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">모달 제목</h4>
                        </div>
                        <div class="modal-body">
                            <!-- 모달 창 내의 데이터 입력 폼 -->
                            <div class="form-group">

                                <label for="friendEmail">친구 이메일</label>
                                <input id="friendEmail" name="friendEmail" class="fs24 font-weight-bold"><br>

                                <label for="memo">메모</label>
                                <textarea type="text" name="memo" id="memo" placeholder="메모 내용을 입력해주세요."></textarea>
                                <br>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="sendFriendRequest" type="button" class="btn btn-default" data-dismiss="modal">추가</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>