<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript" th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap'" async defer></script>

    <script th:inline="javascript">
            var map;

            $(document).ready(function() {

                window.onload = function initMap() {
                    console.log("initMap 호출됨");

                    var city = [[${quickSearchListResponse.getCity()}]];
                    console.log(city.positionLat);

                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 10,
                        center: { lat: city.positionLat, lng: city.positionLon },
                    });
                }


                findCityList();
                findTownList();


                $("#quickSearchCity").change(function() {

                    console.log('has change');
                    var selectedCity = $(this).val();


                    $.ajax({
                        url      : '/quickSearch/getTownList?cityName='+selectedCity,
                        type     : "GET",
                        cache   : false,
                        success  : function(result, status, response){


                            //이 방법으로 저번에 시도했던 문자를 칠때마다 결과가 라이브로 바뀌는 기능을 구현할 수 있겠다
                            console.log('response : ' + response);
                            console.log('result : ' + result);
                            var townNameList = [[${townList}]];
                            console.log('townNameList : ' + townNameList);


                            var selectTown = $("#quickSearchTown");
                            selectTown.empty();

                            $.each(result, function(index, town) {

                                selectTown.append('<option value="' + town + '">' + town + '</option>');
                            });

                            selectTown.append('<option value="noSelected">선택안함</option>');
                            console.log('change success');


                        },
                        error : function(jqXHR, status, error, request){

                            console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                            if(jqXHR.status == '401'){
                                alert('로그인 후 이용해주세요');
                                location.href='/members/login';
                            } else{
                                alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                                // alert(jqXHR.responseText);
                            }
                        }
                    });
                });

                $("#searchBtn").on("click", function () {

                    let searchQuery = document.getElementById('quickSearchQuery').value;
                    let searchCity = document.getElementById('quickSearchCity').value;
                    let searchTown = document.getElementById('quickSearchTown').value;

                    let orderType = "name";

                    let openTimeCondElem = document.getElementById('openTimeCond');
                    let feeCondElem = document.getElementById('feeCond');
                    let picCondElem = document.getElementById('picCond');

                    if (searchTown == '선택안함') {
                        searchTown="";
                    }

                    let openTimeCond
                    let feeCond
                    let picCond

                    if(openTimeCondElem.checked){
                        openTimeCond = true;
                    }else{
                        openTimeCond = "";
                    }

                    if(feeCondElem.checked){
                        feeCond = true;
                    }else{
                        feeCond = "";
                    }

                    if(picCondElem.checked){
                        picCond = true;
                    }else{
                        picCond = "";
                    }

                    console.log(openTimeCond);
                    console.log(feeCond);
                    console.log(picCond);
                    console.log(searchTown);

                    $.ajax({
                        url      : "/quickSearch/newList?searchQuery=" + searchQuery + "&searchCity=" + searchCity + "&searchTown=" + searchTown + "&orderType=" + orderType + "&openTimeCond=" + openTimeCond + "&feeCond=" + feeCond + "&picCond=" + picCond,
                        type     : "GET",
                        dataType: "json" ,
                        success  : function(data, status){
                            console.log("success")

                            console.log("quickSearchLocationDtoList : " + data.quickSearchLocationDtoList);     //r검색 결과에 따라 개수가 변경 되기는
                            console.log("quickSearchLocationDtoList[0] : " + data.quickSearchLocationDtoList[0]);     //r검색 결과에 따라 개수가 변경 되기는
                            // console.log("quickSearchLocationDtoList[0].name : " + data.quickSearchLocationDtoList[0].name);     //r검색 결과에 따라 개수가 변경 되기는


                            //검색시 town 이름이 유지가 안됨 , 계속 마지막에 페이지가 리로드 되는 문제
                            // 그렇다면 리로드 되게 하지말고 quickSearchListResponse 를 반납하
                            const locationList = document.getElementById('changeLocationBox');

                            const showedLocationList = document.querySelectorAll('.InvitedHangOutBox');
                            // locationList.empty();
                            for(var i=0; i<showedLocationList.length; i++) {
                                // locationList[i].innerHTML = '';
                                showedLocationList[i].parentNode.removeChild(showedLocationList[i]);
                            }

                            for (var i = 0; i < data.quickSearchLocationDtoList.length; i++) {
                                // selectTown.append('<option selected value="' + town + '">' + town + '</option>');
                                const listItem = document.createElement('div');
                                listItem.className = "InvitedHangOutBox";

                                //th:if 를 해결하려면 ?
                                listItem.innerHTML = `
                                    <a href="/location/${data.quickSearchLocationDtoList[i].locationId}" class="text-dark">
                                        <img class = "locationBoxImg" src="${data.quickSearchLocationDtoList[i].picture1}">
                                        <div class="locationTextBox">
                                            <p class="locationText"> ${data.quickSearchLocationDtoList[i].name}</p>

                                            <div th:if="${data.quickSearchLocationDtoList[i].address != null}">
                                                <p class="locationText"> address : ${data.quickSearchLocationDtoList[i].address}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].openTime != null}">
                                                <p class="locationText"> open time : ${data.quickSearchLocationDtoList[i].openTime}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].ticketInfo != null}">
                                                <p class="locationText"> Fee Info : ${data.quickSearchLocationDtoList[i].ticketInfo}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].website != null}">
                                                <p class="locationText"> Website Url : ${data.quickSearchLocationDtoList[i].website}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].tel != null}">
                                                <p class="locationText"> Tel : ${data.quickSearchLocationDtoList[i].tel}</p>
                                            </div>
                                        </div>
                                    </a>`;

                                locationList.appendChild(listItem);
                            }


                            const searchedInfoBox = document.getElementById('searchedInfoBox');
                            searchedInfoBox.innerHTML = `
                                <input id="searchedQuery" type="hidden" value="${searchQuery}">
                                <input id="searchedCity" type="hidden" value="${searchCity}">
                                <input id="searchedTown" type="hidden" value="${searchTown}">
                                <input id="searchedopenTimeCond" type="hidden" value="${openTimeCond}">
                                <input id="searchedfeeCond" type="hidden" value="${feeCond}">
                                <input id="searchedpicCond" type="hidden" value="${picCond}">
                            `;



                            // var selectedTown = [[${quickSearchListResponse.getSelectedTown()}]];
                            // var townNameList = [[${townList}]];
                            // var selectTown = $("#quickSearchTown");
                            // selectTown.empty();
                            //
                            // $.each(data, function(index, town) {
                            //
                            //     console.log("town : " + town + "selectedTown : " + selectedTown )
                            //
                            //     if(selectedTown === town){
                            //         selectTown.append('<option selected value="' + town + '">' + town + '</option>');
                            //     }else {
                            //         selectTown.append('<option value="' + town + '">' + town + '</option>');
                            //     }
                            // });
                            //
                            // selectTown.append('<option value="noSelected">선택안함</option>');
                            // console.log('change success');


                        },
                        cache   : false,
                        error : function(jqXHR, status, error, request){

                            console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                            if(jqXHR.status == '401'){
                                alert('로그인 후 이용해주세요');
                                location.href='/members/login';
                            } else{
                                alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                                // alert(jqXHR.responseText);
                            }
                        }
                    });
                });
            });

            // function quickSearch(orderCondition){


            function findCityList() {

                var cityNameList = [[${quickSearchListResponse.getCityNameList()}]];
                var selectedCity = [[${quickSearchListResponse.getCity().getPostalAddressCity()}]];


                var selectCityList = $("#quickSearchCity");
                selectCityList.empty();

                $.each(cityNameList, function(index, city) {

                    if(selectedCity === city){
                        selectCityList.append('<option selected value="' + city + '">' + city + '</option>');
                    }else{
                        selectCityList.append('<option value="' + city + '">' + city + '</option>');
                    }
                });

                selectCityList.trigger("change");
            }

            function findTownList() {
                var townNameList = [[${quickSearchListResponse.getTownNameList()}]];

                var selectTown = $("#quickSearchTown");
                selectTown.empty();

                $.each(townNameList, function(index, town) {

                    selectTown.append('<option value="' + town + '">' + town + '</option>');
                });

                //마지막에 선택안함 하나 더 추가
                selectTown.append('<option value="noSelected">선택안함</option>');
                selectTown.trigger("change");
            }

            function orderFilter(type){

                let searchQuery = document.getElementById('searchedQuery').value;
                let searchCity = document.getElementById('searchedCity').value;
                let searchTown = document.getElementById('searchedTown').value;

                let orderType = type;

                let openTimeCond = document.getElementById('searchedOpenTimeCond');
                let feeCond = document.getElementById('searchedFeeCond');
                let picCond = document.getElementById('searchedPicCond');

                // if (searchTown == '선택안함') {
                //     searchTown="";
                // }


                // if(openTimeCondElem.checked){
                //     openTimeCond = true;
                // }else{
                //     openTimeCond = "";
                // }
                //
                // if(feeCondElem.checked){
                //     feeCond = true;
                // }else{
                //     feeCond = "";
                // }
                //
                // if(picCondElem.checked){
                //     picCond = true;
                // }else{
                //     picCond = "";
                // }

                console.log("openTimeCond : " + openTimeCond);
                console.log("feeCond : " + feeCond);
                console.log("picCond : " + picCond);
                console.log(searchTown);

                $.ajax({
                    url      : "/quickSearch/newList?searchQuery=" + searchQuery + "&searchCity=" + searchCity + "&searchTown=" + searchTown + "&orderType=" + orderType + "&openTimeCond=" + openTimeCond + "&feeCond=" + feeCond + "&picCond=" + picCond,
                    type     : "GET",
                    dataType: "json" ,
                    success  : function(data, status){
                        console.log("success")

                        console.log("quickSearchLocationDtoList : " + data.quickSearchLocationDtoList);     //r검색 결과에 따라 개수가 변경 되기는
                        console.log("quickSearchLocationDtoList[0] : " + data.quickSearchLocationDtoList[0]);     //r검색 결과에 따라 개수가 변경 되기는
                        // console.log("quickSearchLocationDtoList[0].name : " + data.quickSearchLocationDtoList[0].name);     //r검색 결과에 따라 개수가 변경 되기는


                        //검색시 town 이름이 유지가 안됨 , 계속 마지막에 페이지가 리로드 되는 문제
                        // 그렇다면 리로드 되게 하지말고 quickSearchListResponse 를 반납하
                        const locationList = document.getElementById('changeLocationBox');

                        const showedLocationList = document.querySelectorAll('.InvitedHangOutBox');
                        // locationList.empty();
                        for(var i=0; i<showedLocationList.length; i++) {
                            // locationList[i].innerHTML = '';
                            showedLocationList[i].parentNode.removeChild(showedLocationList[i]);
                        }

                        for (var i = 0; i < data.quickSearchLocationDtoList.length; i++) {
                            // selectTown.append('<option selected value="' + town + '">' + town + '</option>');
                            const listItem = document.createElement('div');
                            listItem.className = "InvitedHangOutBox";

                            //th:if 를 해결하려면 ?
                            listItem.innerHTML = `
                                    <a href="/location/${data.quickSearchLocationDtoList[i].locationId}" class="text-dark">
                                        <img class = "locationBoxImg" src="${data.quickSearchLocationDtoList[i].picture1}">
                                        <div class="locationTextBox">
                                            <p class="locationText"> ${data.quickSearchLocationDtoList[i].name}</p>

                                            <div th:if="${data.quickSearchLocationDtoList[i].address != null}">
                                                <p class="locationText"> address : ${data.quickSearchLocationDtoList[i].address}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].openTime != null}">
                                                <p class="locationText"> open time : ${data.quickSearchLocationDtoList[i].openTime}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].ticketInfo != null}">
                                                <p class="locationText"> Fee Info : ${data.quickSearchLocationDtoList[i].ticketInfo}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].website != null}">
                                                <p class="locationText"> Website Url : ${data.quickSearchLocationDtoList[i].website}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].tel != null}">
                                                <p class="locationText"> Tel : ${data.quickSearchLocationDtoList[i].tel}</p>
                                            </div>
                                        </div>
                                    </a>`;

                            locationList.appendChild(listItem);
                        }


                        // const searchedInfoBox = document.getElementById('searchedInfoBox');
                        // searchedInfoBox.innerHTML = `
                        //         <input id="searchedQuery" type="hidden" value="${searchQuery}">
                        //         <input id="searchedCity" type="hidden" value="${searchCity}">
                        //         <input id="searchedTown" type="hidden" value="${searchTown}">
                        //         <input id="searchedOpenTimeCond" type="hidden" value="${openTimeCond}">
                        //         <input id="searchedFeeCond" type="hidden" value="${feeCond}">
                        //         <input id="searchedPicCond" type="hidden" value="${picCond}">
                        //     `;
                    },
                    cache   : false,
                    error : function(jqXHR, status, error, request){

                        console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                        if(jqXHR.status == '401'){
                            alert('로그인 후 이용해주세요');
                            location.href='/members/login';
                        } else{
                            alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                            // alert(jqXHR.responseText);
                        }
                    }
                });
            }


        </script>
</th:block>


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
        <style>

            select{
                margin-right:10px;
            }

            .left-half {
                float: left;
                width: 50%;
            }

            /* 오른쪽 절반 스타일 */
            .right-half {
                float: right;
                width: 50%;
            }

            .InvitedHangOutBox{
                margin: 20px;
                padding: 10px;
                width: 680px;
                height: 110px;
                background-color: #fff; /* 배경색 지정 */
                border-radius: 8px; /* 테두리를 둥글게 만듭니다. */
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
            }

            .locationBoxImg{
                float : left;
                width : 90px;
                height : 90px;
            }

            .locationTextBox{
                float: right;
                width: 550px; /* 텍스트를 표시할 요소의 너비를 지정합니다. */
                height: 90px;
                white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 합니다. */
                overflow: hidden; /* 넘치는 부분은 숨김 처리합니다. */
                text-overflow: ellipsis; /* 넘치는 텍스트에 '...'을 추가하여 표시합니다. */

            }

            .locationText {
                margin-bottom: 0;

            }


            .clear{
                both: clear;
            }


            #fastSearchForm{
                /*display: flex;*/
                /*justify-content: center; !* 가로 방향으로 가운데 정렬 *!*/
                /*align-items: center; !* 세로 방향으로 가운데 정렬 *!*/
                margin-top: 15px;
                margin-bottom: 100px;
                margin-left: 15px;
                margin-right: 15px;
                height: 10rem;

            }


            #fastSearchCity{
                margin-left: 30px;
                width: 70px;
                height: 40px;
            }




            #quickSearchQuery {
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 10px;
                width: 250px;
                padding-top: 10px;
                padding-bottom: 10px;
                border: none;
                border-radius: 10px;
                /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            #searchBtn{
                background-color: white;
                border: 1px solid lightgray ;
                border-radius: 50%;

                padding: 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            #map{
                margin-top: 1rem;
                margin-left: 2.5rem;
                margin-right: 1.5rem;
                width: 90%;
                height: 50vh;
            }

            #orderTypeBox{

            }

            .orderFilterBtn{
                height: 50px;
                width: 120px;
                /* background-color: #011126; */
                background-color: white;
                color: #011126;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }

        </style>

</th:block>

<div layout:fragment="content">

<!--<nav id="navbar" class="navbar navbar-expand-sm">-->
<!--    <a class="navbar-brand" href="/static">Home</a>-->

<!--    <div>-->
<!--        <a class="nav-link" href="/exploreByDest">serach by map</a>-->
<!--        <div class="dropdown">-->
<!--            <button class="dropbtn">City</button>-->
<!--            <div class="dropdown-content">-->
<!--                <a href="/exploreCity?searchArrival=臺北市">臺北市</a>-->
<!--                <a href="/exploreCity?searchArrival=新北市">新北市</a>-->
<!--                <a href="/exploreCity?searchArrival=臺中市">臺中市</a>-->
<!--                <a href="/exploreCity?searchArrival=臺南市">臺南市</a>-->
<!--                <a href="/exploreCity?searchArrival=高雄市">臺東縣</a>-->
<!--                <a href="/exploreCity?searchArrival=花蓮縣">高雄市</a>-->
<!--                <a href="/exploreCity?searchArrival=臺東縣">花蓮縣</a>-->
<!--                <a href="/exploreCity?searchArrival=桃園市">桃園市</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->




<div id="left-half" class="left-half">
<!--    <input id="fastSearchInput" placeholder="查查看想去的地方" type="search" name="search">-->
    <input type="hidden" id="SearchCity" th:value="${fastSearchDto.getSearchCity()}"/>
    <input type="hidden" id="SearchQuery" th:value="${fastSearchDto.getSearchQuery()}" />


    <div id="fastSearchForm">

        <label for="quickSearchCity">Select City:</label>
        <select id="quickSearchCity" name="quickSearchCity">
        </select>

        <label for="quickSearchTown">Select Town:</label>
        <select id="quickSearchTown" name="quickSearchTown">
        </select>

        <input id="quickSearchQuery" th:value="${fastSearchDto.getSearchQuery()}" type="search" name="search" />
        <button id="searchBtn" class="search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #d9d9d9;"></i>
        </button>

<!--        <select id="orderType" name="orderType">-->
<!--            <option value="name">이름순</option>   -->
<!--            <option value="comment">댓글순</option>-->
<!--            <option value="favorite">즐겨찾기 개수순</option>-->
<!--            <option value="recommend">추천순</option>-->
<!--        </select>-->
        <br>

        <div>
            <label for="openTimeCond">개방 시간이 있는 장소만 검색</label>
            <input type="checkbox" id="openTimeCond" name="openTimeCond">
        </div>
        <div>
            <label for="feeCond">가격 정보가 있는 장소만 검색</label>
            <input type="checkbox" id="feeCond" name="feeCond">
        </div>
        <div>
            <label for="picCond">사진이 있는 장소만 검색</label>
            <input type="checkbox" id="picCond" name="picCond">
        </div>
    </div>

    <div id="mapBox">
<!--        마우스가 올려져 있는 장소만 지도에 표시 해주기 -->
        <div id="map"></div>
    </div>
</div>



<div id="right-half" class="right-half">
    <div id="searchedInfoBox"></div>
<!--    <input type="hidden" id="SearchCity" th:value="${fastSearchDto.getSearchCity()}"/>-->
    <div id="orderTypeBox">
<!--        <select id="orderType" name="orderType">-->
<!--            <option value="name">이름순</option>-->
<!--            <option value="comment">댓글순</option>-->
<!--            <option value="favorite">즐겨찾기 개수순</option>-->
<!--            <option value="recommend">추천순</option>-->
<!--        </select>-->
        <button id="orderByName" class="orderFilterBtn" onclick="orderFilter('name')">이름순</button>
        <button id="orderByComment" class="orderFilterBtn" onclick="orderFilter('comment')">댓글순</button>
        <button id="orderByFavorite" class="orderFilterBtn" onclick="orderFilter('favorite')">즐겨찾기개수순</button>
    </div>

    <div id="changeLocationBox">
        <div th:each="location, status: ${quickSearchListResponse.getQuickSearchLocationDtoList()}">
            <div class="InvitedHangOutBox">
                <a th:href="'/location/' +${location.locationId}" class="text-dark">
                    <img class = "locationBoxImg" th:src="${location.picture1}">
                    <div class="locationTextBox">
                        <p class="locationText">[[${location.name}]]</p>

                        <div th:if="${location.address != null}">
                            <p class="locationText"> address : [[${location.address}]]</p>
                        </div>

                        <div th:if="${location.openTime != null}">
                            <p class="locationText"> open time : [[${location.openTime}]]</p>
                        </div>

                        <div th:if="${location.ticketInfo != null}">
                            <p class="locationText"> Fee Info : [[${location.ticketInfo}]]</p>
                        </div>

                        <div th:if="${location.website != null}">
                            <p class="locationText"> Website Url : [[${location.website}]]</p>
                        </div>

                        <div th:if="${location.tel != null}">
                            <p class="locationText"> Tel : [[${location.tel}]]</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="clear"></div>

</div>
</html>
