<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript" th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap'" async defer></script>

    <script th:inline="javascript">

        var map;
        var lastAdded = 0;
        const loadThreshold = 300; // 새로운 데이터를 로드할 최소 스크롤 간격
        let isLoading = false; // 현재 요청 상태를 추적

        $(document).ready(function() {

            window.addEventListener('scroll', function() {

                const scrollTop = window.scrollY;
                const scrollHeight = document.body.scrollHeight;
                const clientHeight = window.innerHeight;

                // 스크롤이 하단 300px 이내일 때 데이터 로드
                if (scrollTop + clientHeight >= scrollHeight - loadThreshold && !isLoading) {
                    isLoading = true; // 요청 중 상태로 변경

                    lastAdded = scrollTop;

                    console.log("스크롤 조건 충족: 데이터 로드 시작");

                    const currentUrl = window.location.href;
                    const queryParams = decodeQueryString(currentUrl);

                    let searchQuery = queryParams.searchQuery;
                    let searchCity = queryParams.searchCity;
                    let searchTown =queryParams.searchTown;

                    let orderType = "name";

                    let openTimeCond = queryParams.openTimeCond;
                    let feeCond = queryParams.feeCond;
                    let picCond = queryParams.picCond;




                    const currentPage = document.getElementById('currentPage');
                    currentPage.value = Number(currentPage.value) + 1;

                    let page = currentPage.value;
                    console.log("currentPage.value : " + currentPage.value);



                    $.ajax({
                        url: "/quickSearch/newList?searchQuery=" + searchQuery +
                            "&searchCity=" + searchCity + "&searchTown=" + searchTown + "&orderType=" + orderType +
                            "&openTimeCond=" + openTimeCond + "&feeCond=" + feeCond + "&picCond=" + picCond +
                            "&page=" + page,
                        type: "GET",
                        dataType: "json",
                        success: function (data, status) {
                            console.log("success")

                            console.log("quickSearchLocationDtoList : " + data.quickSearchLocationDtoList);     // 검색 결과에 따라 개수가 변경 되기는
                            console.log("quickSearchLocationDtoList[0] : " + data.quickSearchLocationDtoList[0]);     // 검색 결과에 따라 개수가 변경 되기는
                            // console.log("quickSearchLocationDtoList[0].name : " + data.quickSearchLocationDtoList[0].name);     //r검색 결과에 따라 개수가 변경 되기는


                            //검색시 town 이름이 유지가 안됨 , 계속 마지막에 페이지가 리로드 되는 문제
                            // 그렇다면 리로드 되게 하지말고 quickSearchListResponse 를 반납하
                            const locationList = document.getElementById('changeLocationBox');

                            const showedLocationList = document.querySelectorAll('.InvitedHangOutBox');

                            //삭제 로직 제거하면 그 밑으로 바로 추가 되려나 ?
                            // for (var i = 0; i < showedLocationList.length; i++) {
                            //
                            //     showedLocationList[i].parentNode.removeChild(showedLocationList[i]);
                            // }

                            for (var i = 0; i < data.quickSearchLocationDtoList.length; i++) {
                                // selectTown.append('<option selected value="' + town + '">' + town + '</option>');
                                const listItem = document.createElement('div');
                                listItem.className = "card-container";

                                console.log("data.quickSearchLocationDtoList[i].address : " + data.quickSearchLocationDtoList[i].address);


                                const location = data.quickSearchLocationDtoList[i];
                                listItem.innerHTML = `
                                    <div class="InvitedHangOutBox">
                                        <div class="card card-item">
                                            <a href="/location/ +${location.locationId}" class="text-dark">
                                                <img src="${location.picture1}" class="card-img-top center-img" >
                                                <div class="recommandCard-body">

                                                    <h4 class="card-text">${location.name}</h4>

                                                    ${location.address ? `<p class="locationText">Address: ${location.address}</p>` : ''}
                                                    ${location.openTime ? `<p class="locationText">Open Time: ${location.openTime}</p>` : ''}
                                                    ${location.ticketInfo ? `<p class="locationText">Fee Info: ${location.ticketInfo}</p>` : ''}
                                                    ${location.website ? `<p class="locationText">Website URL: ${location.website}</p>` : ''}
                                                    ${location.tel ? `<p class="locationText">Tel: ${location.tel}</p>` : ''}

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                `;
                                //th:if 를 해결하려면 ?
                                // listItem.innerHTML = `
                                //     <a href="/location/${data.quickSearchLocationDtoList[i].locationId}" class="text-dark">
                                //         <img class = "locationBoxImg" src="${data.quickSearchLocationDtoList[i].picture1}">
                                //         <div class="locationTextBox">
                                //             <p class="locationText"> ${data.quickSearchLocationDtoList[i].name}</p>
                                //
                                //             <div th:if="${data.quickSearchLocationDtoList[i].address != null}">
                                //                 <p class="locationText"> address : ${data.quickSearchLocationDtoList[i].address}</p>
                                //             </div>
                                //
                                //             <div th:if="${data.quickSearchLocationDtoList[i].openTime != null}">
                                //                 <p class="locationText"> open time : ${data.quickSearchLocationDtoList[i].openTime}</p>
                                //             </div>
                                //
                                //             <div th:if="${data.quickSearchLocationDtoList[i].ticketInfo != null}">
                                //                 <p class="locationText"> Fee Info : ${data.quickSearchLocationDtoList[i].ticketInfo}</p>
                                //             </div>
                                //
                                //             <div th:if="${data.quickSearchLocationDtoList[i].website != null}">
                                //                 <p class="locationText"> Website Url : ${data.quickSearchLocationDtoList[i].website}</p>
                                //             </div>
                                //
                                //             <div th:if="${data.quickSearchLocationDtoList[i].tel != null}">
                                //                 <p class="locationText"> Tel : ${data.quickSearchLocationDtoList[i].tel}</p>
                                //             </div>
                                //         </div>
                                //     </a>`;

                                locationList.appendChild(listItem);
                            }


                            const searchedInfoBox = document.getElementById('searchedInfoBox');
                            searchedInfoBox.innerHTML = `
                                <input id="searchedQuery" type="hidden" value="${searchQuery}">
                                <input id="searchedCity" type="hidden" value="${searchCity}">
                                <input id="searchedTown" type="hidden" value="${searchTown}">
                                <input id="searchedopenTimeCond" type="hidden" value="${openTimeCond}">
                                <input id="searchedfeeCond" type="hidden" value="${feeCond}">
                                <input id="searchedpicCond" type="hidden" value="${picCond}">
                            `;


                            // var selectedTown = [[${quickSearchListResponse.getSelectedTown()}]];
                            // var townNameList = [[${townList}]];
                            // var selectTown = $("#quickSearchTown");
                            // selectTown.empty();
                            //
                            // $.each(data, function(index, town) {
                            //
                            //     console.log("town : " + town + "selectedTown : " + selectedTown )
                            //
                            //     if(selectedTown === town){
                            //         selectTown.append('<option selected value="' + town + '">' + town + '</option>');
                            //     }else {
                            //         selectTown.append('<option value="' + town + '">' + town + '</option>');
                            //     }
                            // });
                            //
                            // selectTown.append('<option value="noSelected">선택안함</option>');
                            // console.log('change success');

                            isLoading = false; // 요청 완료 상태로 변경
                        },
                        cache: false,
                        error: function (jqXHR, status, error, request) {

                            isLoading = false; // 요청 완료 상태로 변경

                            console.log(jqXHR.status + "\n" + jqXHR.responseText + "\n" + error)

                            if (jqXHR.status == '401') {
                                alert('請登入後使用');
                                location.href = '/members/login';
                            } else {
                                alert(jqXHR.status + "\n" + jqXHR.responseText + "\n" + error);
                                // alert(jqXHR.responseText);
                            }
                        }
                    });

                } else {

                }
            });

            window.onload = function initMap() {
                console.log("initMap 호출됨");

                var city = [[${quickSearchListResponse.getCity()}]];
                console.log(city.positionLat);

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: { lat: city.positionLat, lng: city.positionLon },
                });
            }


            findCityList();
            findTownList();
            savePreviousSearchCondition();

            // 검색 조건의 city 가 변할때 city 의 town 을 다시 가져온다
            $("#quickSearchCity").change(function() {

                console.log('has change');
                var selectedCity = $(this).val();


                $.ajax({
                    url      : '/quickSearch/townList?cityName='+selectedCity,
                    type     : "GET",
                    cache   : false,
                    success  : function(result, status, response){


                        //이 방법으로 저번에 시도했던 문자를 칠때마다 결과가 라이브로 바뀌는 기능을 구현할 수 있겠다
                        console.log('response : ' + response);
                        console.log('result : ' + result);
                        var townNameList = [[${townList}]];
                        console.log('townNameList : ' + townNameList);


                        var selectTown = $("#quickSearchTown");
                        selectTown.empty();

                        $.each(result, function(index, town) {

                            selectTown.append('<option value="' + town + '">' + town + '</option>');
                        });

                        selectTown.append('<option value="noSelected">선택안함</option>');
                        console.log('change success');


                    },
                    error : function(jqXHR, status, error, request){

                        console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                        if(jqXHR.status == '401'){
                            alert('請登入後使用');
                            location.href='/members/login';
                        } else{
                            alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                            // alert(jqXHR.responseText);
                        }
                    }
                });
            });


            //검색
            $("#searchBtn").on("click", function () {

                let searchQuery = document.getElementById('quickSearchQuery').value;
                let searchCity = document.getElementById('quickSearchCity').value;
                let searchTown = document.getElementById('quickSearchTown').value;

                let orderType = "name";

                let openTimeCondElem = document.getElementById('openTimeCond');
                let feeCondElem = document.getElementById('feeCond');
                let picCondElem = document.getElementById('picCond');

                if (searchTown == '선택안함') {
                    searchTown="";
                }

                let openTimeCond
                let feeCond
                let picCond

                if(openTimeCondElem.checked){
                    openTimeCond = true;
                }else{
                    openTimeCond = "";
                }

                if(feeCondElem.checked){
                    feeCond = true;
                }else{
                    feeCond = "";
                }

                if(picCondElem.checked){
                    picCond = true;
                }else{
                    picCond = "";
                }

                let page = 0;

                location.href = "/quickSearchConditionList?searchQuery=" + searchQuery +
                    "&searchCity=" + searchCity + "&searchTown=" + searchTown + "&orderType=" + orderType +
                    "&openTimeCond=" + openTimeCond + "&feeCond=" + feeCond + "&picCond=" + picCond +
                    "&page=" + page;


            });
        });

        // URLSearchParams로 쿼리 파라미터 처리
        function decodeQueryString(url) {
            const urlObj = new URL(url);
            const queryParams = new URLSearchParams(urlObj.search);
            const decodedParams = {};

            queryParams.forEach((value, key) => {
                decodedParams[key] = decodeURIComponent(value);
            });

            return decodedParams;
        }


        // function quickSearch(orderCondition){

        function savePreviousSearchCondition(){

            const searchTown = [[${request.searchTown}]];
            console.log("searchTown : " + searchTown);

            // <select> 요소를 가져옵니다.
            const selectElement = document.getElementById("quickSearchTown");

            // 모든 <option> 요소를 순회합니다.
            const options = selectElement.options;
            for (let i = 0; i < options.length; i++) {
                if (options[i].value === searchTown) {
                    // 조건에 맞는 옵션을 활성화(선택)합니다.
                    selectElement.selectedIndex = i;
                    break;
                }
            }

            const savedOpenTimeCond = [[${request.openTimeCond}]];       //"" or true
            const openTimeCond = document.getElementById("openTimeCond");
            console.log("typeof savedOpenTimeCond : " + typeof savedOpenTimeCond);

            if(Boolean(savedOpenTimeCond) === true){
                openTimeCond.checked = true;
            }

            const savedFeeCond = [[${request.feeCond}]];       //"" or true
            const feeCond = document.getElementById("feeCond");
            console.log("typeof savedFeeCond : " + typeof savedFeeCond);

            if(Boolean(savedFeeCond) === true){
                feeCond.checked = true;
            }

            const savedPicCond = [[${request.picCond}]];       //"" or true
            const picCond = document.getElementById("picCond");
            console.log("typeof savedPicCond : " + typeof savedPicCond);

            if(Boolean(savedPicCond) === true){
                picCond.checked = true;
            }

        }

        function findCityList() {

            var cityNameList = [[${quickSearchListResponse.getCityNameList()}]];
            var selectedCity = [[${quickSearchListResponse.getCity().getPostalAddressCity()}]];


            var selectCityList = $("#quickSearchCity");
            selectCityList.empty();

            $.each(cityNameList, function(index, city) {

                if(selectedCity === city){
                    selectCityList.append('<option selected value="' + city + '">' + city + '</option>');
                }else{
                    selectCityList.append('<option value="' + city + '">' + city + '</option>');
                }
            });

            selectCityList.trigger("change");
        }

        function findTownList() {
            var townNameList = [[${quickSearchListResponse.getTownNameList()}]];

            var selectTown = $("#quickSearchTown");
            selectTown.empty();

            $.each(townNameList, function(index, town) {

                selectTown.append('<option value="' + town + '">' + town + '</option>');
            });



            //마지막에 선택안함 하나 더 추가
            selectTown.append('<option value="noSelected">선택안함</option>');
            selectTown.trigger("change");
        }

        function orderFilter(type){

            let searchQuery = document.getElementById('searchedQuery').value;
            let searchCity = document.getElementById('searchedCity').value;
            let searchTown = document.getElementById('searchedTown').value;

            let orderType = type;

            let openTimeCond = document.getElementById('searchedOpenTimeCond');
            let feeCond = document.getElementById('searchedFeeCond');
            let picCond = document.getElementById('searchedPicCond');

            // if (searchTown == '선택안함') {
            //     searchTown="";
            // }


            // if(openTimeCondElem.checked){
            //     openTimeCond = true;
            // }else{
            //     openTimeCond = "";
            // }
            //
            // if(feeCondElem.checked){
            //     feeCond = true;
            // }else{
            //     feeCond = "";
            // }
            //
            // if(picCondElem.checked){
            //     picCond = true;
            // }else{
            //     picCond = "";
            // }

            console.log("openTimeCond : " + openTimeCond);
            console.log("feeCond : " + feeCond);
            console.log("picCond : " + picCond);
            console.log(searchTown);

            $.ajax({
                url      : "/quickSearch/newList?searchQuery=" + searchQuery + "&searchCity=" + searchCity + "&searchTown=" + searchTown + "&orderType=" + orderType + "&openTimeCond=" + openTimeCond + "&feeCond=" + feeCond + "&picCond=" + picCond,
                type     : "GET",
                dataType: "json" ,
                success  : function(data, status){
                    console.log("success")

                    console.log("quickSearchLocationDtoList : " + data.quickSearchLocationDtoList);     //r검색 결과에 따라 개수가 변경 되기는
                    console.log("quickSearchLocationDtoList[0] : " + data.quickSearchLocationDtoList[0]);     //r검색 결과에 따라 개수가 변경 되기는
                    // console.log("quickSearchLocationDtoList[0].name : " + data.quickSearchLocationDtoList[0].name);     //r검색 결과에 따라 개수가 변경 되기는


                    //검색시 town 이름이 유지가 안됨 , 계속 마지막에 페이지가 리로드 되는 문제

                    // 그렇다면 리로드 되게 하지말고 quickSearchListResponse 를 반납하
                    const locationList = document.getElementById('changeLocationBox');

                    const showedLocationList = document.querySelectorAll('.InvitedHangOutBox');
                    // locationList.empty();
                    for(var i=0; i<showedLocationList.length; i++) {
                        // locationList[i].innerHTML = '';
                        showedLocationList[i].parentNode.removeChild(showedLocationList[i]);
                    }

                    for (var i = 0; i < data.quickSearchLocationDtoList.length; i++) {
                        // selectTown.append('<option selected value="' + town + '">' + town + '</option>');
                        const listItem = document.createElement('div');
                        listItem.className = "InvitedHangOutBox";

                        //th:if 를 해결하려면 ?
                        listItem.innerHTML = `
                                    <a href="/location/${data.quickSearchLocationDtoList[i].locationId}" class="text-dark">
                                        <img class = "locationBoxImg" src="${data.quickSearchLocationDtoList[i].picture1}">
                                        <div class="locationTextBox">
                                            <p class="locationText"> ${data.quickSearchLocationDtoList[i].name}</p>

                                            <div th:if="${data.quickSearchLocationDtoList[i].address != null}">
                                                <p class="locationText"> address : ${data.quickSearchLocationDtoList[i].address}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].openTime != null}">
                                                <p class="locationText"> open time : ${data.quickSearchLocationDtoList[i].openTime}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].ticketInfo != null}">
                                                <p class="locationText"> Fee Info : ${data.quickSearchLocationDtoList[i].ticketInfo}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].website != null}">
                                                <p class="locationText"> Website Url : ${data.quickSearchLocationDtoList[i].website}</p>
                                            </div>

                                            <div th:if="${data.quickSearchLocationDtoList[i].tel != null}">
                                                <p class="locationText"> Tel : ${data.quickSearchLocationDtoList[i].tel}</p>
                                            </div>
                                        </div>
                                    </a>`;

                        locationList.appendChild(listItem);
                    }


                    // const searchedInfoBox = document.getElementById('searchedInfoBox');
                    // searchedInfoBox.innerHTML = `
                    //         <input id="searchedQuery" type="hidden" value="${searchQuery}">
                    //         <input id="searchedCity" type="hidden" value="${searchCity}">
                    //         <input id="searchedTown" type="hidden" value="${searchTown}">
                    //         <input id="searchedOpenTimeCond" type="hidden" value="${openTimeCond}">
                    //         <input id="searchedFeeCond" type="hidden" value="${feeCond}">
                    //         <input id="searchedPicCond" type="hidden" value="${picCond}">
                    //     `;
                },
                cache   : false,
                error : function(jqXHR, status, error, request){

                    console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

                    if(jqXHR.status == '401'){
                        alert('請登入後使用');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                        // alert(jqXHR.responseText);
                    }
                }
            });
        }


    </script>
</th:block>


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/quickSearchList.css"/>
</th:block>

<div layout:fragment="content">

<!--<div id="left-half" class="left-half">-->
<!--    <input id="fastSearchInput" placeholder="查查看想去的地方" type="search" name="search">-->
    <input type="hidden" id="SearchCity" th:value="${request.getSearchCity()}"/>
    <input type="hidden" id="SearchQuery" th:value="${request.getSearchQuery()}"/>
    <input type="hidden" id="SearchTown" th:value="${request.getSearchTown()}"/>
    <input type="hidden" id="currentPage" value="0"/>

<div id="fast-search-box">
    <div id="fastSearchForm">
        <div>
            <div class="form-group">
                <div class="form-group-flex">
                    <label class="cityTownLabel" for="quickSearchCity">City:</label>
                    <select id="quickSearchCity" class="cityTownSelect" name="quickSearchCity"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-flex">
                    <label class="cityTownLabel" for="quickSearchTown">Town:</label>
    <!--                만약 검색후 온 페이지라면 이 select 를 자바스크립트로 -->
                    <select id="quickSearchTown" class="cityTownSelect" name="quickSearchTown"></select>
                </div>
            </div>

            <input id="quickSearchQuery" th:value="${request.getSearchQuery()}" type="search" name="search" />
            <button id="searchBtn" class="search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #d9d9d9;"></i>
            </button>

    <!--        <select id="orderType" name="orderType">-->
    <!--            <option value="name">이름순</option>   -->
    <!--            <option value="comment">댓글순</option>-->
    <!--            <option value="favorite">즐겨찾기 개수순</option>-->
    <!--            <option value="recommend">추천순</option>-->
    <!--        </select>-->
            <br>
        </div>

        <div id="searchOptionBox">

            <div>
                <span id="optionConditionTitle">查詢條件</span>
                <span id="optionConditionBox">
                    <span class="condition">
                        <label for="openTimeCond">有開放時間</label>
                        <input type="checkbox" id="openTimeCond" name="openTimeCond">
                    </span>
                    <span class="condition">
                        <label for="feeCond">有價格</label>
                        <input type="checkbox" id="feeCond" name="feeCond">
                    </span>
                    <span class="condition">
                        <label for="picCond">有照片</label>
                        <input type="checkbox" id="picCond" name="picCond">
                    </span>
                </span>
            </div>
        </div>

<!--        <div id="orderTypeBox">-->
<!--            &lt;!&ndash;        <select id="orderType" name="orderType">&ndash;&gt;-->
<!--            &lt;!&ndash;            <option value="name">이름순</option>&ndash;&gt;-->
<!--            &lt;!&ndash;            <option value="comment">댓글순</option>&ndash;&gt;-->
<!--            &lt;!&ndash;            <option value="favorite">즐겨찾기 개수순</option>&ndash;&gt;-->
<!--            &lt;!&ndash;            <option value="recommend">추천순</option>&ndash;&gt;-->
<!--            &lt;!&ndash;        </select>&ndash;&gt;-->
<!--            <button id="orderByName" class="orderFilterBtn" onclick="orderFilter('name')">이름순</button>-->
<!--            <button id="orderByComment" class="orderFilterBtn" onclick="orderFilter('comment')">댓글순</button>-->
<!--            <button id="orderByFavorite" class="orderFilterBtn" onclick="orderFilter('favorite')">즐겨찾기개수순</button>-->
<!--        </div>-->
    </div>
</div>

<!--    <div id="mapBox">-->
<!--&lt;!&ndash;        마우스가 올려져 있는 장소만 지도에 표시 해주기 &ndash;&gt;-->
<!--        <div id="map"></div>-->
<!--    </div>-->
<!--</div>-->



    <div id="searchedInfoBox"></div>


    <div id="location-container">
        <div id="changeLocationBox">
            <div class="card-container" th:each="location, status: ${quickSearchListResponse.getQuickSearchLocationDtoList()}">
                <div class="InvitedHangOutBox">
                    <div class="card card-item">
                        <a th:href="'/location/' +${location.locationId}" class="text-dark">
                            <img th:src="${location.picture1}" class="card-img-top center-img" >
                            <div class="recommandCard-body">

                                <h4 class="card-text">[[${location.name}]]</h4>

                                <div th:if="${location.address != null}">
                                    <p class="locationText"> address : [[${location.address}]]</p>
                                </div>

                                <div th:if="${location.openTime != null}">
                                    <p class="locationText"> open time : [[${location.openTime}]]</p>
                                </div>

                                <div th:if="${location.ticketInfo != null}">
                                    <p class="locationText"> Fee Info : [[${location.ticketInfo}]]</p>
                                </div>

                                <div th:if="${location.website != null}">
                                    <p class="locationText"> Website Url : [[${location.website}]]</p>
                                </div>

                                <div th:if="${location.tel != null}">
                                    <p class="locationText"> Tel : [[${location.tel}]]</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
</html>
