<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header">

<!--  <div class="sidebar">-->
<!--    <a href="/main">Home</a>-->
<!--    <a href="/explore/exploreCity">City</a>-->
<!--    <a href="/explore/exploreDest">Map</a>-->
<!--    <a href="/explore/exploreTripCard">TripCard</a>-->
<!--  </div>-->

  <nav id="navbar" class="navbar navbar-expand-sm">
    <div id="nav-title-box">
      <a class="navbar-brand" href="/">台灣散策地圖</a>
    </div>

    <div id="nav-btn-container">
<!--      <a class="nav-link" href="/mapSearch">search by map</a>-->
      <div id="nav-btn-box">
<!--        <span class="dropdown btn-box">-->
<!--          <button class="dropbtn">城市</button>-->
<!--          <div class="dropdown-content">-->
<!--            <a class="dropdown-content-item" href="/exploreCity?searchArrival=臺北市">臺北市</a>-->
<!--            <a class="dropdown-content-item" href="/exploreCity?searchArrival=新北市">新北市</a>-->
<!--            <a class="dropdown-content-item" href="/exploreCity?searchArrival=臺中市">臺中市</a>-->
<!--            <a class="dropdown-content-item" href="/exploreCity?searchArrival=臺南市">臺南市</a>-->
<!--            <a class="dropdown-content-item" href="/exploreCity?searchArrival=高雄市">臺東縣</a>-->
<!--            <a class="dropdown-content-item" href="/exploreCity?searchArrival=花蓮縣">高雄市</a>-->
<!--            <a class="dropdown-content-item" href="/exploreCity?searchArrival=臺東縣">花蓮縣</a>-->
<!--            <a class="dropdown-content-item" href="/exploreCity?searchArrival=桃園市">桃園市</a>-->
<!--          </div>-->
<!--        </span>-->

        <span class="btn-box" sec:authorize="isAnonymous()">
          <a class="navItem" href="/members/login">
            登入
          </a>
        </span>
        <span class="btn-box" sec:authorize="isAuthenticated()">
          <a class="navItem" href="/members/logout">
            登出
          </a>
        </span>
        <span class="btn-box" sec:authorize="isAuthenticated()">
          <a class="navItem" href="/myPage/profile">
            設定
          </a>
        </span>
        <span class="btn-box" sec:authorize="isAuthenticated()">
          <a class="navItem" href="/favorite/favoriteList">
            按讚目錄
          </a>
        </span>
        <!--      <span sec:authorize="isAuthenticated()">-->
        <!--        <a href="/schedule" class="nav-link">-->
        <!--          일정 보기-->
        <!--        </a>-->
        <!--      </span>-->
        <!--      <span sec:authorize="isAuthenticated()">-->
        <!--        <a href="/plan/" class="nav-link">-->
        <!--          Plan 만들기-->
        <!--        </a>-->
        <!--      </span>-->
      </div>

    </div>
  </nav>

</div>

</html>