<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header">

<!--  <div class="sidebar">-->
<!--    <a href="/main">Home</a>-->
<!--    <a href="/explore/exploreCity">City</a>-->
<!--    <a href="/explore/exploreDest">Map</a>-->
<!--    <a href="/explore/exploreTripCard">TripCard</a>-->
<!--  </div>-->

  <nav id="navbar" class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="/">出企玩</a>

    <div>
      <a class="nav-link" href="/mapSearch">search by map</a>
      <div class="dropdown">
        <button class="dropbtn">City</button>
        <div class="dropdown-content">
          <a href="/exploreCity?searchArrival=臺北市">臺北市</a>
          <a href="/exploreCity?searchArrival=新北市">新北市</a>
          <a href="/exploreCity?searchArrival=臺中市">臺中市</a>
          <a href="/exploreCity?searchArrival=臺南市">臺南市</a>
          <a href="/exploreCity?searchArrival=高雄市">臺東縣</a>
          <a href="/exploreCity?searchArrival=花蓮縣">高雄市</a>
          <a href="/exploreCity?searchArrival=臺東縣">花蓮縣</a>
          <a href="/exploreCity?searchArrival=桃園市">桃園市</a>
        </div>
      </div>

      <span sec:authorize="isAnonymous()">
        <a href="/members/login" class="nav-link">
          로그인
        </a>
      </span>
      <span sec:authorize="isAuthenticated()">
        <a href="/members/logout" class="nav-link">
          로그아웃
        </a>
      </span>
      <span sec:authorize="isAuthenticated()">
        <a href="/myPage/profile" class="nav-link">
          마이페이지
        </a>
      </span>
      <span sec:authorize="isAuthenticated()">
        <a href="/favorite/favoriteList" class="nav-link">
          가고 싶은 곳 리스트
        </a>
      </span>
      <span sec:authorize="isAuthenticated()">
        <a href="/schedule" class="nav-link">
          일정 보기
        </a>
      </span>
      <span sec:authorize="isAuthenticated()">
        <a href="/plan/" class="nav-link">
          Plan 만들기
        </a>
      </span>
    </div>
  </nav>

</div>

</html>