
#navbar{
    background-color: #07364A;
    color:white;
    z-index: 10000;
}

#navbar.scrolled{
    background-color: #07364A;
}

#navbar.scrolled a{
    color: white;
}

#navbar.scrolled {
    color: white;
}

#nav-title-box{
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand{
    color: white;
}

#nav-btn-container{
    float: left;
    width: 50%;
}

#nav-btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItem{
    color:white
}

.btn-box{
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    /*position: relative;*/
    /*display: inline-block;*/
}

.dropbtn {
    background-color: inherit;
    color: inherit;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #07364A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10001;
}

/* Links inside the dropdown */
.dropdown-content a {
    /*color: black;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
}


.dropdown-content-item{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/*!* Change the background color of the dropdown button when the dropdown content is shown *!*/
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/
