<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript" th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap'" async defer></script>

    <script th:inline="javascript">
        $(document).ready(function () {

            const navbar = document.getElementById('navbar');

            // 스크롤 이벤트 리스너 등록
            window.addEventListener('scroll', function() {

                // 스크롤 위치 확인
                if (window.scrollY > 745) { // 스크롤이 100px 이상 됐을 때
                    navbar.classList.add('scrolled'); // 스크롤된 상태 클래스 추가
                } else {
                    navbar.classList.remove('scrolled'); // 스크롤이 100px 미만이면 클래스 제거
                }
            });

            $(".SearchBtnByCityType").on("click",function (){
                searchByCityPage()
            });

            $(".SearchBtnByDestType").on("click",function (){
                searchByDest()
            });

            $(".searchTripCard").on("click",function (){
                searchTripCard()
            });

            $(".searchByMap").on("click",function (){
                searchByMap()
            });

            $("#quickSearchInputBtn").on("click",function (){
                fastSearchByInput();
            });

            $("#taibeiCard").on("click",function (){
                location.href = "/exploreCity?searchArrival=臺北市";
            });

            $("#xinbeiCard").on("click",function (){
                location.href = "/exploreCity?searchArrival=新北市";
            });

            $("#taizhongCard").on("click",function (){
                location.href = "/exploreCity?searchArrival=臺中市";
            });

            $("#tainanCard").on("click",function (){
                location.href = "/exploreCity?searchArrival=臺南市";
            });

            $("#gaoxiongCard").on("click",function (){
                location.href = "/exploreCity?searchArrival=高雄市";
            });

            $("#hualianCard").on("click",function (){
                location.href = "/exploreCity?searchArrival=花蓮縣";
            });

            $("#taidongCard").on("click",function (){
                location.href = "/exploreCity?searchArrival=臺東縣";
            });

            $("#taoyuanCard").on("click",function (){
                location.href = "/exploreCity?searchArrival=桃園市";
            });



            $("#museumBtn").on("click",function (){
                var searchQuery = "博物館"
                var searchCity = document.getElementById('fastSearchCity').value;

                location.href = "/quickSearchList?searchQuery=" + searchQuery + "&searchCity=" + searchCity;
            });

            $("#artMuseumBtn").on("click",function (){
                var searchQuery = "美術館"
                var searchCity = document.getElementById('fastSearchCity').value;

                location.href = "/quickSearchList?searchQuery=" + searchQuery + "&searchCity=" + searchCity;

            });

            $("#parkBtn").on("click",function (){
                var searchQuery = "公園"
                var searchCity = document.getElementById('fastSearchCity').value;

                location.href = "/quickSearchList?searchQuery=" + searchQuery + "&searchCity=" + searchCity;

            });

            $("#marketBtn").on("click",function (){
                var searchQuery = "市場"
                var searchCity = document.getElementById('fastSearchCity').value;

                location.href = "/quickSearchList?searchQuery=" + searchQuery + "&searchCity=" + searchCity;

            });

            $("#templeBtn").on("click",function (){
                var searchQuery = "宮"
                var searchCity = document.getElementById('fastSearchCity').value;

                location.href = "/quickSearchList?searchQuery=" + searchQuery + "&searchCity=" + searchCity;

            });

            $("#nightMarketBtn").on("click",function (){
                var searchQuery = "夜市"
                var searchCity = document.getElementById('fastSearchCity').value;

                location.href = "/quickSearchList?searchQuery=" + searchQuery + "&searchCity=" + searchCity;

            });

            $("#playGroundBtn").on("click",function (){
                var searchQuery = "樂園"
                var searchCity = document.getElementById('fastSearchCity').value;

                location.href = "/quickSearchList?searchQuery=" + searchQuery + "&searchCity=" + searchCity;

            });

        });

        function searchTripCard() {

            var searchCity = document.getElementById('tripCardCity').value;

            location.href = "/exploreTripCard?tripCardCity=" + searchCity;
        }

        function searchByMap() {

            location.href = "/mapSearch";
        }

        // function searchByCityPage(page) {
        //
        //     var searchArrival = $("#cityTypeArriveCity").val();
        //
        //     location.href = "/explore/"+ page + "?searchArrival=" + searchArrival;
        // }

        function searchByCityPage() {

            var searchArrival = $("#cityTypeArriveCity").val();

            location.href = "/exploreCity" + "?searchArrival=" + searchArrival;
        }

        function fastSearchByInput() {

            //var geoOrigin = document.getElementById('origin').value;

            var searchQuery = document.getElementById('fastSearchInput').value;
            var searchCity = document.getElementById('fastSearchCity').value;

            location.href = "/quickSearchList?searchQuery=" + searchQuery + "&searchCity=" + searchCity;

        }

    </script>
</th:block>

<th:block layout:fragment="css">

<!--    <link rel="stylesheet" href="/css/main/taiwanMap.css"/>-->

    <link rel="stylesheet" href="/css/main/fastSearch.css"/>
    <link rel="stylesheet" href="/css/main/cityCard.css"/>
    <link rel="stylesheet" href="/css/main/coolText.css"/>

    <style>

        #top{
            padding-top: 100px;
            background-color: #f0ffff;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            /*background-color: #6495ED;*/
            height: 100vh;
            /*background-position: center;*/
            /*background-repeat: no-repeat;*/
            /*background-size:cover;*/
            /*height: 95vh;*/
            /*position:relative;*/
        }

        .left-half {
            float: left;
            width: 50%;
        }

        /* 오른쪽 절반 스타일 */
        .right-half {
            float: right;
            width: 50%;
            /*display: grid;*/
        }

        /*#mapAndText{*/
        /*    margin-top: 100px;*/
        /*    height: 100vh;*/
        /*}*/

        #second{
            margin-top: 100px;
            margin-bottom: 100px;
        }

        #third{
            margin-bottom: 100px;
        }

        /*글씨 카드에 나오게*/
        h2 {
            position: absolute;
            inset: auto auto 30px 30px;
            margin: 0;
            transition: inset .3s .3s ease-out;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: normal;
            text-transform: uppercase;
        }

        #navbar{
            width: 100%;
            position : fixed;
            z-index: 1;
        }

        #carouselBox{

            margin-top: 170px;
            margin-left: 100px;

            width: 500px;
            height: 400px;

            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .topCityImgBox{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

    </style>
</th:block>

<div layout:fragment="content">

<!--<nav id="navbar" class="navbar navbar-expand-sm">-->
<!--    <a class="navbar-brand" href="/">出企玩</a>-->

<!--    <div>-->
<!--        <a class="nav-link" href="/mapSearch">search by map</a>-->
<!--        <div class="dropdown">-->
<!--            <button class="dropbtn">City</button>-->
<!--            <div class="dropdown-content">-->
<!--                <a href="/exploreCity?searchArrival=臺北市">臺北市</a>-->
<!--                <a href="/exploreCity?searchArrival=新北市">新北市</a>-->
<!--                <a href="/exploreCity?searchArrival=臺中市">臺中市</a>-->
<!--                <a href="/exploreCity?searchArrival=臺南市">臺南市</a>-->
<!--                <a href="/exploreCity?searchArrival=高雄市">臺東縣</a>-->
<!--                <a href="/exploreCity?searchArrival=花蓮縣">高雄市</a>-->
<!--                <a href="/exploreCity?searchArrival=臺東縣">花蓮縣</a>-->
<!--                <a href="/exploreCity?searchArrival=桃園市">桃園市</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<section id="top">

    <div class="left-half">
        <div id="coolContainer">
            <p class="cool">
                <span data-text="Hello,">hello !</span>
                <span data-text="Hello,">今天</span>
                <span data-text="Hello,">你想</span>
                <span data-text="I'm">去哪裡</span>
                <span data-text="the">the</span>
                <span data-text="text.">text.</span>
            </p>
        </div>
    </div>

    <div class="right-half">
        <div id="carouselBox">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 topCityImgBox" src="/img/taibei.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 topCityImgBox" src="/img/xinbei.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 topCityImgBox" src="/img/hualian.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>

<section id="second">

    <p id="fastSearchTitle">你今天想去哪裡</p>

    <div id="fastSearchForm">
        <select id="fastSearchCity" name="fastSearchCity">
            <option value="臺北市">臺北市</option>
            <option value="新北市">新北市</option>
            <option value="臺中市">臺中市</option>
            <option value="臺南市">臺南市</option>
            <option value="臺東縣">臺東縣</option>
            <option value="高雄市">高雄市</option>
            <option value="花蓮縣">花蓮縣</option>
            <option value="桃園市">桃園市</option>
        </select>

        <input id="fastSearchInput" placeholder="查查看想去的地方" type="search" name="search">

        <button id="quickSearchInputBtn" class="search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #d9d9d9;"></i>
        </button>
    </div>

    <div id="fastSearchBtns">
        <button type="button" id ="museumBtn" class="fastSearchBtn" value="museum"><p class="fastSearchBtnText"># 博物館</p></button>
        <button type="button" id ="artMuseumBtn" class="fastSearchBtn" value="artMuseum"><p class="fastSearchBtnText"># 美術館</p></button>
        <button type="button" id ="parkBtn" class="fastSearchBtn" value="park"><p class="fastSearchBtnText"># 公園</p></button>
        <button type="button" id ="marketBtn" class="fastSearchBtn" value="market"><p class="fastSearchBtnText"># 市場</p></button>
        <button type="button" id ="templeBtn" class="fastSearchBtn" value="temple"><p class="fastSearchBtnText"># 宮廟</p></button>
        <button type="button" id ="nightMarketBtn" class="fastSearchBtn" value="nightMarket"><p class="fastSearchBtnText"># 夜市</p></button>
        <button type="button" id ="playGroundBtn" class="fastSearchBtn" value="playGround"><p class="fastSearchBtnText"># 樂園</p></button>
    </div>

<!--    <div id="fastSearchBtns">-->
<!--        <button type="button" id ="museumBtn" class="fastSearchBtn" value="museum"><i class="fa-solid fa-building-columns fa-2xl" style="color: #528bff"></i><p class="fastSearchBtnText">博物館</p></button>-->
<!--        <button type="button" id ="artMuseumBtn" class="fastSearchBtn" value="artMuseum"><i class="fa-solid fa-palette fa-2xl" style="color: #ff5757"></i><p class="fastSearchBtnText">美術館</p></button>-->
<!--        <button type="button" id ="parkBtn" class="fastSearchBtn" value="park"><i class="fa-solid fa-tree fa-2xl" style="color: #00c230"></i><p class="fastSearchBtnText">公園</p></button>-->
<!--        <button type="button" id ="marketBtn" class="fastSearchBtn" value="market"><i class="fa-solid fa-store fa-2xl" style="color: #ffa200"></i><p class="fastSearchBtnText">市場</p></button>-->
<!--        <button type="button" id ="templeBtn" class="fastSearchBtn" value="temple"><i class="fa-solid fa-gopuram fa-2xl" style="color: #00c230"></i><p class="fastSearchBtnText">宮廟</p></button>-->
<!--        <button type="button" id ="nightMarketBtn" class="fastSearchBtn" value="nightMarket"><i class="fa-solid fa-moon fa-2xl" style="color: #ffa200"></i><p class="fastSearchBtnText">夜市</p></button>-->
<!--        <button type="button" id ="playGroundBtn" class="fastSearchBtn" value="playGround"><i class="fa-solid fa-parachute-box fa-2xl" style="color: #ff5757"></i><p class="fastSearchBtnText">樂園</p></button>-->
<!--    </div>-->
    <!--    <a class="fastSearchBy" href="/museum"><i class="fa-solid fa-building-columns fa-2xl" style="color: #828282;">美術館</i></a>-->
</section>

<section id="third">
    <div class="cards">
        <div id="taibeiCard" class = "card">
            <img class="cardPic" src="/img/taibei1.jpg" alt="">
            <div class="card-content">
                <h2>
                    臺北市
                </h2>
            </div>
        </div>
        <div id="xinbeiCard" class = "card">
            <img class="cardPic" src="/img/xinbei1.jpg" alt="">
            <div class="card-content">
                <h2>
                    新北市
                </h2>
            </div>
        </div>
        <div id="taizhongCard" class = "card">
            <img class="cardPic" src="/img/taizhong2.jpg" alt="">
            <div class="card-content">
                <h2>
                    台中市
                </h2>
            </div>
        </div>
        <div id="gaoxiongCard" class = "card">
            <img class="cardPic" src="/img/gaoxiong1.jpg" alt="">
            <div class="card-content">
                <h2>
                    高雄市
                </h2>
            </div>
        </div>
    </div>

    <div class="cards">
        <div id="tainanCard" class = "card">
            <img class="cardPic" src="/img/tainan2.jpg" alt="">
            <div class="card-content">
                <h2>
                    台南市
                </h2>
            </div>
        </div>
        <div id="taidongCard" class = "card">
            <img class="cardPic" src="/img/taidong.jpg" alt="">
            <div class="card-content">
                <h2>
                    台東縣
                </h2>
            </div>
        </div>
        <div id="hualianCard" class = "card">
            <img class="cardPic" src="/img/hualian.jpg" alt="">
            <div class="card-content">
                <h2>
                    花蓮縣
                </h2>
            </div>
        </div>
        <div id="taoyuanCard" class = "card">
            <img class="cardPic" src="/img/taoyuan.jpg" alt="">
            <div class="card-content">
                <h2>
                    桃園市
                </h2>
            </div>
        </div>
    </div>


</section>



<!--<section id="tripCard">-->
<!--    <div class="overlay">-->
<!--        <div id="tripCardInfo">-->
<!--            <h1 class="mb-3 mb-3">青年旅遊卡</h1>-->
<!--            <p class="lead">-->
<!--                本資料集為教育部青年發展署針對15-30歲青年發行免費申辦的青年旅遊卡，持卡青年可享景點門票、住宿、交通、小吃購物、中文學習等優惠。為利青年申辦青年旅遊卡，結合交通部觀光局旅客服務中心、青年志工中心、華語文中心及部分縣市政府、民間團體等計119個服務據點，提供青年旅遊諮詢服務網絡及申辦青年旅遊卡。-->
<!--            </p>-->
<!--            <button type="button" class="btn btn-primary searchTripCard">申請旅遊卡</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<button type="button" class="btn btn-primary w-100 searchByMap">在地圖上搜尋</button>

</div>