

#searchContainer {
    margin-top: 30vh;
    margin-bottom: 30vh;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */

}

#fastSearchForm {
    /*display: flex;*/
    /*justify-content: center; !* 가로 방향으로 가운데 정렬 *!*/
    /*align-items: center; !* 세로 방향으로 가운데 정렬 *!*/
    padding: 5px;

    margin-top: 5vh;
    margin-bottom: 5vh;
    /*margin-bottom: 10px;*/
    background-color: #07364A;
    /*margin-right: 10vw;*/
    /*margin-left: 10vw;*/
    width: 55vw;
    height: 7vh;
    border-radius: 18px; /* 오른쪽 위와 아래만 둥글게 */
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */

}

#fastSearchTitle {
    /*margin-left: 30rem;*/
    font: bold 5rem/1.2 sans-serif;
    /*max-width: 40rem;*/
    color: #07364A;
}

#fastSearchCity{
    /*margin-left: 230px;*/
    margin-right: 10px;
    /*width: 200px;*/
    /*height: 50px;*/

    width: 5rem;
    border: none; /* 테두리 없애기 */
    background-color: transparent; /* 배경 투명 */
    color: white; /* 글자 색 흰색 */
    text-align: center; /* 텍스트 가운데 정렬 (지원되는 브라우저) */
    text-align-last: center; /* 선택된 텍스트 가운데 정렬 */
    padding: 5px; /* 여백 추가 */
    font-size: 16px; /* 글자 크기 조정 */
    /*appearance: none; !* 브라우저 기본 스타일 제거 *!*/
    /*-webkit-appearance: none; !* 사파리 브라우저 *!*/
    /*-moz-appearance: none; !* 파이어폭스 *!*/
}

#fastSearchInput {
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 47.1vw;
    height: 5vh;
    border: none;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    border-radius: 0 10px 10px 0; /* 오른쪽 위와 아래만 둥글게 */
}

#quickSearchSendBtn{

    position: absolute;
    top: 2rem;
    left: 53vw;

    background-color: #07364A; /* 버튼 배경색 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 50%; /* 원형으로 만들기 */
    width: 55px; /* 버튼의 가로 크기 */
    height: 55px; /* 버튼의 세로 크기 */
    /*font-size: 16px; !* 텍스트 크기 *!*/
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    cursor: pointer; /* 커서를 포인터로 변경 */
    display: flex; /* 텍스트 정렬을 위한 flexbox 사용 */
    align-items: center; /* 텍스트 수직 정렬 */
    justify-content: center; /* 텍스트 가로 정렬 */
}



#searchBtn{
    /*position: absolute;*/
    background-color: white;
    border: 1px solid lightgray ;
    border-radius: 50%;

    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#fastSearchBtns{
    display: flex;
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
    align-items: center;     /* 세로 방향으로 가운데 정렬 */
}

.fastSearchBtn {
    width: 100px;
    height: 40px;

    /*padding-top: 25px;*/
    /*padding-bottom: 15px;*/
    /*padding-right: 10px;*/
    /*padding-left: 10px;*/

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;

    transition-duration: 0.4s;
    background-color: #07364A;
    color: white;
    border: 1px solid #808080; /* Green */
    border-radius: 10px;

}

.fastSearchByBtn:hover {
    background-color: #008CBA; /* Green */
    color: white;
}

.fastSearchBtnText{
    margin-top :5px;
}
