<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>台北</h1>
    <div>
        臺北市，通稱臺北，是中華民國的首都[4]及直轄市，位於臺灣北部的臺北盆地，是臺北都會區以及北台灣的中心城市，亦為臺灣在政治、金融、經濟、科技、教育、文化等領域的發展中心，2020年臺北獲評選爲最高等級的Alpha級全球城市[5]。全市劃為12個行政區[1]，市政府所在地為信義區[6]，人口最多的轄區為大安區[2]。設籍人口約有250萬人[註 2]，人口密度為每平方公里約9,200人[註 3][3]。

        臺北城市建立之歷史，最早可追溯自清治時代後期的1876年臺北府成立、以及1884年臺北城建立；日治時代中期的1920年成立州轄市，乃臺北正式建市之始。1945年中華民國時代開始時成為臺灣省省轄市及省會（後者至1956年遷至中興新村為止），1949年成為首都，1967年升格為直轄市。
    </div>

    <div>
        推薦地方


    </div>


</body>
</html>