<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript" th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap'" async defer></script>

    <script th:inline="javascript">
        $(document).ready(function () {

            $("#locMoreInfo").on("click",function (){
                goToRecommendLocationList(0)
            });

        });

        $(document).ready(function () {

            $("#gotoRouteDetail").on("click",function (){
                gotoRouteDetail()
            });

        });

        var map;
        var marker;

        var lat = [[${cityDto.PositionLat}]];
        var lng = [[${cityDto.PositionLon}]];
        console.log(lat, lng);

        window.onload = function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: { lat: lat, lng: lng },
            });
        }

        function goToRecommendLocationList(page) {

            var searchArrival = $("#cityNameValue").val();

            location.href = "/recommendLocationList/" + page + "?searchArrival=" + searchArrival+ "&searchQuery=&searchTown=";
        }

        // function gotoRouteDetail() {
        //
        //     location.href = "/explore/" + page + "?searchArrival=" + searchArrival;
        // }

    </script>
</th:block>


<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/exploreCity/exploreCity.css"/>
</th:block>

<div layout:fragment="content">

        <div id="imgBox">
            <div id="flexBox">
                <div id="cityNameBox">
                    <h1 id="cityName">[[${cityDto.cityName}]]</h1>
                </div>
            </div>

            <div class="overlay">
                <img id="cityImg" th:src="${cityDto.getImgUrl()}">
            </div>
<!--            <div id="map"></div>-->
        </div>

        <div class="container">
            <input id="cityNameValue" type="hidden" th:value="${cityDto.getCityName()}">

            <div>
                <h3> recommended spot </h3>
            <!--여기 문제 없음-->
              <div id="locationContainer">
                <div class="owl-carousel owl-theme">
                  <!--        아이템 출력-->
<!--                  <div class="row">-->
                    <th:block  th:each="location, status: ${cityDto.getLocationDtoList()}">
                        <div class="item">
                        <div class="card">
                          <a th:href="'/location/' +${location.locationId}" class="text-dark">
                            <img th:src="${location.picture1}" class="card-img-top" >
                            <div class="recommandCard-body">
                              <h4 class="card-text">[[${location.name}]]</h4>
                                <div th:if="${location.address != null}">
                                    <p class="locationText">address : [[${location.address}]]</p>
                                </div>

                                <div th:if="${location.openTime != null}">
                                    <p class="locationText"> open time : [[${location.openTime}]]</p>
                                </div>

                                <div th:if="${location.ticketInfo != null}">
                                    <p class="locationText"> Fee Info : [[${location.ticketInfo}]]</p>
                                </div>

                            </div>
                          </a>
                        </div>
                        </div>
                    </th:block>
<!--                  </div>-->
                </div>
              </div>
                <button id="locMoreInfo" type="button" class="btn btn-primary" >看多一點 </button>
            </div>


    </div>
</div>
</html>