<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript" th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&libraries=places&callback=initMap'" async defer></script>

    <script th:inline="javascript">

        var map;
        var geocoder;
        var directionsService;
        var directionsRenderer;
        var startLocation;
        var endLocation;

        var startLatLng;
        var endLatLng;
        var midLat;
        var midLng;

        var waypointLat;
        var waypointLng;
        var waypointName;

        $(document).ready(function() {
            $(".callGeoBtn").on("click", function () {
                findGeo();
            });

            $(".callRouteBtn").on("click", function () {
                findRoute();
            });

            // $("#addMiddleRouteBtn").on("click", function () {
            //     findMiddleRoute();
            // });


            // $("#addMiddleRouteBtn").on("click", function () {
            //     addMiddleRoute();
            // });



        });

        function initMap() {
            console.log("initMap 호출됨");

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: { lat: 25.043561, lng: 121.556668 },
                styles : [
                    {
                        "featureType": "administrative",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#444444"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.country",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#f2f2f2"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 45
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#375868"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    }
                ]

            });

            var inputDepart = document.getElementById('origin');
            var autoDepart = new google.maps.places.Autocomplete(inputDepart);
            // 선택된 장소가 변경될 때 이벤트 리스너 추가
            autoDepart.addListener('place_changed', function () {
                const place = autoDepart.getPlace();

                // 선택된 장소의 위치를 가져옴
                const location = place.geometry.location;

                // 마커 생성
                const marker = new google.maps.Marker({
                    position: location,
                    map: map, // 위에서 생성한 지도 객체
                    title: place.name, // 마커에 표시할 제목
                });
                // 선택된 장소의 위치로 지도 중심 이동
                map.setCenter(location);
            });

            var inputArrive = document.getElementById('destination');
            var autoArrive = new google.maps.places.Autocomplete(inputArrive);

            autoArrive.addListener('place_changed', function () {
                const place = autoArrive.getPlace();

                // 선택된 장소 정보를 사용자에게 표시하거나 다른 작업 수행
                console.log('선택된 장소:', place);

                // 선택된 장소의 위치를 가져옴
                const location = place.geometry.location;

                // 마커 생성
                const marker = new google.maps.Marker({
                    position: location,
                    map: map, // 위에서 생성한 지도 객체
                    title: place.name, // 마커에 표시할 제목
                });

                // 선택된 장소의 위치로 지도 중심 이동
                map.setCenter(location);
            });

        }

        function findGeo(){

            var geoOrigin = document.getElementById('origin').value;
            var geoDestination  = document.getElementById('destination').value;

            geocoder = new google.maps.Geocoder();

            geocoder.geocode({ 'address': geoOrigin }, function (startResults, startStatus) {
                if (startStatus === 'OK') {
                    // 목적지 주소를 지오코딩하여 위치 정보 가져오기
                    geocoder.geocode({ 'address': geoDestination }, function (endResults, endStatus) {
                        if (endStatus === 'OK') {
                            console.log("지오코딩 호출됨")
                            startLocation = startResults[0].geometry.location;
                            endLocation = endResults[0].geometry.location;

                            midLat = (startLocation.lat() + endLocation.lat())/2;
                            midLng = (startLocation.lng() + endLocation.lng())/2;

                        } else {
                            alert('목적지 주소의 지오코딩에 실패했습니다. 상태: ' + endStatus);
                        }
                    });
                } else {
                    alert('출발지 주소의 지오코딩에 실패했습니다. 상태: ' + startStatus);
                }
            });
        }

        function findRoute(){

            var origin = document.getElementById('origin').value;
            var destination  = document.getElementById('destination').value;

            console.log("route.origin : "+origin);
            console.log("route.destination : "+destination);


            var request = {
                origin: origin,
                destination: destination,
                travelMode: 'WALKING'
            };

            directionsService = new google.maps.DirectionsService();

            directionsRenderer = new google.maps.DirectionsRenderer({
                map: map
            });

            directionsService.route(request,
                function(result, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(result);
                    console.log("route 호출");

                    const moveTimeMarker = new google.maps.Marker({
                        map: map,
                        position: startLocation,
                    });

                    var route = result.routes[0];
                    // 이동 시간 정보를 추출
                    var duration = route.legs[0].duration.text;
                    var mode = route.legs[0].steps[0].travel_mode;
                    console.log(duration);
                    console.log(mode);

                    // 이동 시간을 지도에 표시
                    var infowindow1 = new google.maps.InfoWindow({
                        content: '예상 이동 시간: ' + duration
                    });

                    infowindow1.open(map, moveTimeMarker);




                    var service = new google.maps.places.PlacesService(map);
                    var infowindow;

                    // 3. 장소 서비스의 nearbySearch 호출
                    service.nearbySearch({
                        location: new google.maps.LatLng(midLat,midLng),       //이 오리진을 latLng 로 변경해ㅑㅇ하나 ? -> ㅐ
                        radius: '50000', // 5km 반경 내에서 검색 (5000)
                        type: ['restaurant']
                        // minPriceLevel: 4 // 별 4개 이상
                    }, function(results, status) {
                        if (status === google.maps.places.PlacesServiceStatus.OK) {

                            infowindow = new google.maps.InfoWindow();

                            // 결과를 처리하고 지도에 표시
                            for (var i = 0; i < results.length; i++) {
                                const place = results[i];

                                if (place.rating >= 4 && place.user_ratings_total >= 100) {

                                    const marker = new google.maps.Marker({
                                        map: map,
                                        position: place.geometry.location,
                                        title: place.name
                                    });

                                    const markerInfowindow = new google.maps.InfoWindow();

                                    marker.addListener('click', () => {
                                        waypointName = place.name;

                                        const contentString = '<div><strong>' + place.name + '</strong><br>' +
                                            '평점: ' + place.rating + '<br>' +
                                            '댓글 수: ' + place.user_ratings_total + '<br>' +
                                            '<button onclick="findMiddleRoute(' + marker.getPosition().lat() + ', ' + marker.getPosition().lng() + ')" type="button"> '+ '추가' + '</button> '+
                                            '</div>';

                                        markerInfowindow.setContent(contentString);
                                        markerInfowindow.open(map, marker);

                                        // infowindow = new google.maps.InfoWindow({
                                        //     content: place.name // 레스토랑 이름을 알림창에 표시
                                        // });




                                    });

                                }

                                displayRestaurantList(results);
                            }

                            // map.addListener('click', function() {
                            //     markerInfowindow.close();
                            // });

                        } else{
                            console.log("nearbySearch 실패 ");
                            console.log(status);
                            console.log("nearbySearch 내의 startLocation : " + startLocation  );

                        }
                    });
                } else {
                    alert('경로를 찾을 수 없습니다.');

                }
            });
        }

        function findMiddleRoute(stopoverLat,stopoverLng) {

            const start = document.getElementById('origin').value;
            const end = document.getElementById('destination').value;
            const waypoint = new google.maps.LatLng(stopoverLat,stopoverLng);

            console.log("stopoverLat  : " + stopoverLat);
            console.log("stopoverLng  : " + stopoverLng);

            // displayRouteDetail();

            geocoder = new google.maps.Geocoder();

            geocoder.geocode({ location: new google.maps.LatLng(stopoverLat,stopoverLng) })
                .then((response) => {
                    if (response.results[0]) {

                        // infowindow.setContent(response.results[0].formatted_address);
                        const stopoverRoute = document.getElementById('withStopoverRouteDetail');
                        stopoverRoute.innerHTML = `
                        <strong>출발지 : ${start}</strong><br>
<!--                        <strong>경유지 : ${response.results[0].formatted_address}</strong><br>-->
                        <strong>경유지 : ${waypointName}</strong><br>
                        <strong>도착지 : ${end}</strong>`;

                    } else {
                        window.alert("findMiddleRoute No results found");
                    }
                })
                .catch((e) => window.alert("Geocoder failed due to: " + e));


            // var origin = document.getElementById('origin').value;
            // var destination  = document.getElementById('destination').value;
            // console.log("middle route.origin : "+origin);
            // console.log("middle route.destination : "+destination);




            var request = {
                origin: start,
                destination: end,
                waypoints: [{ location: waypoint, stopover: true }], // 경유지 설정
                // travelMode: google.maps.TravelMode.WALKING,
                travelMode: 'WALKING'
            };

            directionsRenderer = new google.maps.DirectionsRenderer({
                map: map
            });

            directionsService.route(request, function (result, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsRenderer.setDirections(result);

                    const moveTimeMarker = new google.maps.Marker({
                        map: map,
                        position: waypoint,
                    });

                    var route = result.routes[0];
                    var totalDuration = 0;

                    for (var i = 0; i < route.legs.length; i++) {
                        totalDuration += route.legs[i].duration.value;
                    }
                    // 이동 시간을 초로 반환하므로 분으로 변환
                    var totalMinutes = Math.round(totalDuration / 60);

                    console.log('총 이동 시간 (분): ' + totalMinutes);

                    var hours = 0;
                    var minutes = totalMinutes;
                    var timeContent;
                    if (totalMinutes >= 60) {
                        hours = Math.floor(totalMinutes / 60);
                        minutes = totalMinutes % 60;
                        timeContent = '예상 이동 시간: ' + hours +'시간 ' + minutes + '분'
                    }else{
                        timeContent = minutes + '분'
                    }



                    var mode = route.legs[0].steps[0].travel_mode;
                    console.log(mode);

                    var infowindow1 = new google.maps.InfoWindow({
                        content: timeContent
                    });
                    infowindow1.open(map, moveTimeMarker);


                    // var route = result.routes[0];
                    // // 이동 시간 정보를 추출
                    // var duration = route.legs[0].duration.text;
                    // // 이동 시간을 지도에 표시

                }
            });

        }

        function displayRestaurantList(results) {

            console.log("displayRestaurantList 호출됨")
            const restaurantList = document.getElementById('restaurant-list');
            // restaurantList.innerHTML = '<h2>레스토랑 리스트</h2>';
            //이거 없으면 누적되서 restaurant 가 점점 늘어남
            restaurantList.innerHTML = '';

            for (var i = 0; i < results.length; i++) {
                const place = results[i];
                if (place.rating >= 4 && place.user_ratings_total >= 100) {
                    const listItem = document.createElement('div');
                    listItem.className = 'restaurant-item';
                    listItem.innerHTML = `
                          <strong>${place.name}</strong>
                          <p>평점: ${place.rating}</p>
                          <p>댓글 수: ${place.user_ratings_total}</p> `;


                    // listItem.addEventListener('click', () => {
                    //     showRestaurantInfo(place);
                    // });
                    //
                    // '평점: ' + place.rating + '<br>' +
                    // '댓글 수: ' + place.user_ratings_total + '<br>' +

                    restaurantList.appendChild(listItem);
                }
            }
        };



        window.onload = function () {
            initMap();
        };



    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }

        .left-half {
            float: left;
            width: 50%;
        }

        /* 오른쪽 절반 스타일 */
        .right-half {
            float: right;
            width: 50%;
        }

    </style>
</th:block>

<div layout:fragment="content">

    <div class="left-half">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>경로 설정 창</h1>
                        <input id="origin" placeholder="출발지를 입력하세요" type="text">
                        <input id="destination" placeholder="도착지를 입력하세요" type="text">

                    <button type="button" class="btn btn-primary w-100 mb-2 mt-3 callGeoBtn">1.확인</button>
                    <button type="button" class="btn btn-primary w-100 callRouteBtn">2.찾기</button>

                    <div id="withStopoverRouteDetail"></div>
                </div>

                <div class="col-md-6">
                    <div id="restaurant-list"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-half">
        <div id="map" style="width: 100%; height: 800px;"></div>
    </div>
</div>

</html>