<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbproject.api.mbtTest.repository.MBTMapper">
    <select id="selectCity" resultType="com.dbproject.api.mbtTest.MBTCityDtoCamel">
        select *
        from city
        where postal_address_city=#{postalAddressCity}
    </select>

    <select id="selectAll" resultType="com.dbproject.api.mbtTest.MBTCityDto">
        select * from city
    </select>

</mapper>

