<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript" th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap'" async defer></script>

  <script th:inline="javascript">
    $(document).ready(function () {

      $("#moreInfo").on("click",function (){
        goToExplore(0)
      });


      $("#addFavoriteBtn").on("click", function () {

        //토큰 안적으면 403 포비던 뜸
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var locationId = $("#locationId").val();

        var paramData = {
          locationId : $("#locationId").val(),
          memo : $("#memo").val()
        };

        var param = JSON.stringify(paramData);

        $.ajax({
          url      : "/favorite/addFavoriteList",
          type     : "POST",
          contentType : "application/json",
          data     : param,
          beforeSend : function(xhr){
            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
            xhr.setRequestHeader(header, token);
          },
          dataType : "json",
          cache   : false,
          success  : function(result, status){
            alert("확인되었습니다.");
            location.href='/location/'+locationId;

          },
          error : function(jqXHR, status, error, request){

            console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

            if(jqXHR.status == '401'){
              alert('로그인 후 이용해주세요');
              location.href='/members/login';
            } else{
              alert(jqXHR.status);
              // alert(jqXHR.responseText);
            }
          }
        });
      });

      $("#createCommentBtn").on("click", function () {

        //토큰 안적으면 403 포비던 뜸
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var locationId = $("#locationId").val();

        var paramData = {
          locationId : $("#locationId").val(),
          content : $("#commentContent").val(),
          rate: $("#commentRate").val(),
        };

        var param = JSON.stringify(paramData);

        $.ajax({
          url      : "/comment/createComment",
          type     : "POST",
          contentType : "application/json",
          data     : param,
          beforeSend : function(xhr){
            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
            xhr.setRequestHeader(header, token);
          },
          dataType : "json",
          cache   : false,
          success  : function(result, status){
            alert("확인되었습니다.");
            location.href='/location/'+locationId;

          },
          error : function(jqXHR, status, error, request){

            console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

            if(jqXHR.status == '401'){
              alert('로그인 후 이용해주세요');
              location.href='/members/login';
            } else{
              alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
              // alert(jqXHR.responseText);
            }
          }
        });
      });


      $("#updateCommentBtn").on("click", function () {

        //토큰 안적으면 403 포비던 뜸
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var locationId = $("#locationId").val();

        var paramData = {
          locationId : $("#locationId").val(),
          content : $("#updateCommentContent").val(),
          rate: $("#updateCommentRate").val(),
        };

        var param = JSON.stringify(paramData);

        $.ajax({
          url      : "/comment/updateComment",
          type     : "PUT",
          contentType : "application/json",
          data     : param,
          beforeSend : function(xhr){
            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
            xhr.setRequestHeader(header, token);
          },
          dataType : "json",
          cache   : false,
          success  : function(result, status){
            alert("확인되었습니다.");
            location.href='/location/'+locationId;

          },
          error : function(jqXHR, status, error, request){

            console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

            if(jqXHR.status == '401'){
              alert('로그인 후 이용해주세요');
              location.href='/members/login';
            } else{
              alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
              // alert(jqXHR.responseText);
            }
          }
        });
      });
    });

    function deleteComment(commentId) {

      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var locationId = $("#locationId").val();

      var paramData = {
        commentId : commentId

      };

      var param = JSON.stringify(paramData);

      $.ajax({
        url      : "/comment/deleteComment",
        type     : "DELETE",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("확인되었습니다.");
          location.href='/location/'+locationId;

        },
        error : function(jqXHR, status, error, request){

          console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
            // alert(jqXHR.responseText);
          }
        }
      });

    }

    var map;

    var latitude = [[${location.latitude}]];
    var longitude = [[${location.longitude}]];
    const latPosition = Number(latitude);
    const lngPosition = Number(longitude);


    window.onload = function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: { lat: latPosition, lng: lngPosition },
      });

      var marker = new google.maps.Marker({
        position: {lat: latPosition, lng: lngPosition},
        map: map,
        title: 'Marker Title' // 마커에 표시될 제목
      });
    }



    function goToExplore(page) {

      var searchArrival = $("#cityNameValue").val();

      location.href = "/explore/" + page + "?searchArrival=" + searchArrival;
    }


  </script>
</th:block>

<th:block layout:fragment="css">
  <style>


    #content{
      padding-left: 50px;
      padding-right: 50px;
    }

    #locationName{
      margin-top: 30px;
      margin-bottom: 30px;

    }

    .left-half {
      float: left;
      width: 40%;
    }

    .right-half {
      float: right;
      width: 60%;
    }

    .comment-left-half {
      float: left;
      width: 60%;
    }

    .comment-right-half {
      float: right;
      width: 40%;
    }

    .clear{
      clear: both;
    }

    #introduce{

      display: inline;
    }

    #addFavoriteBtn{
      margin: 10px;
      background-color:white;
      border: solid 1px #ffdd00;
      display: inline-block;
    }

    #addedFavoriteBtn{
      margin: 10px;
      background-color:white;
      border: solid 1px #ffdd00;
      display: inline-block;
    }

    #imgBox{
      height: 500px;
      width: 800px;
      padding-left: 50px;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .locationImg{
      /*object-fit: cover;*/
      width: 100%;
      height: 100%;
      border-radius: 10px;

    }

    #descBox{
      padding : 10px;
      height: 500px;
      width: 500px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      overflow: auto;
    }


    .savedCommentMemberBox{
      margin-top: 2rem;
    }

    .savedCommentMemberImg{
      width : 3rem;
      height: 3rem;
      display: inline;
      border-radius: 50%;
    }

    .savedCommentMemberName {
      margin-left: 10px;
      display: inline;
      font-weight: bold;

    }

    .savedCommentContent{
      margin-top: 10px;
      font-size: 15px;
    }

    .savedCommentRegTime {
      font-size: 13px;
      color: grey;
    }

    .divider{
      width: 100%;
      height: 1px;
      background-color: grey;

    }

  </style>
</th:block>

<div layout:fragment="content">

  <input id="locationId" type="hidden" th:value="${location.id}">

  <section id="content">
    <h1 id="locationName">[[${location.name}]]</h1>


    <div class="left-half">
      <div id="descBox">
        <h4 id="introduce">說明</h4>


        <div th:if="${location.isSaved()}">
          <button id="addedFavoriteBtn"><i class="fa-thin fa-star" style="color: #ffdd00;"></i>이미 저장된 장소입니다.</button>
        </div>
        <div th:unless="${location.isSaved()}">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1"><i class="fa-solid fa-star" style="color: #ffdd00;"></i></button>
        </div>

        <!-- 모달 창 -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">모달 제목</h4>
              </div>
              <div class="modal-body">
                <!-- 모달 창 내의 데이터 입력 폼 -->
                <div class="form-group">

                  <label for="memo">메모</label>
                  <textarea type="text" name="memo" id="memo" placeholder="메모 내용을 입력해주세요."></textarea>
                  <br>

<!--                  <label for="FirstRoomName">방 이름:</label>-->
<!--                  <input type="text" name="FirstRoomName" id="FirstRoomName" placeholder="방 이름 입니다">-->
<!--                  <br>-->

                </div>
              </div>
              <div class="modal-footer">
                <button id="addFavoriteBtn" type="button" class="btn btn-default" data-dismiss="modal">추가</button>
              </div>
            </div>
          </div>
        </div>






        <p>[[${location.tolDescribe}]]</p>

        <div th:if="${location.address != null}">
          <p class="locationText"> address : [[${location.address}]]</p>
        </div>

        <div th:if="${location.openTime != null}">
          <p class="locationText"> open time : [[${location.openTime}]]</p>
        </div>

        <div th:if="${location.ticketInfo != null}">
          <p class="locationText"> Fee Info : [[${location.ticketInfo}]]</p>
        </div>

        <div th:if="${location.website != null}">
          <p class="locationText"> Website Url : [[${location.website}]]</p>
        </div>

        <div th:if="${location.tel != null}">
          <p class="locationText"> Tel : [[${location.tel}]]</p>
        </div>

        <div th:if="${location.remarks != null}">
          <p class="locationText"> remark : [[${location.remarks}]]</p>
        </div>

        <div th:if="${location.travellingInfo != null}">
          <p class="locationText"> traffic_Info : [[${location.travellingInfo}]]</p>
        </div>

        <div th:if="${location.parkingInfo != null}">
          <p class="locationText"> parking_info : [[${location.parkingInfo}]]</p>
        </div>

        <div id="map" style="width:100%; height: 450px;"></div>
      </div>
    </div>

    <div class="right-half">
      <div id="imgBox">
        <div th:if="${#strings.isEmpty(location.picture1)}">
          <img class = "locationImg" src="/img/noImg.jpg">
        </div>
        <div th:unless="${#strings.isEmpty(location.picture1)}">
          <img class = "locationImg" th:src="${location.picture1}">
        </div>
      </div>
    </div>

    <div class="clear"></div>


<!--            댓   글      기    능            -->

    <button type="button" data-toggle="modal" data-target="#commentModal">댓글 작성</button>


    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="commentModalLabel">댓글 추가</h4>
          </div>
          <div class="modal-body">
            <!-- 모달 창 내의 데이터 입력 폼 -->
            <div class="form-group">

              <label for="commentContent"></label>
              <textarea type="text" id="commentContent" name="commentContent"></textarea>

                  <select id="commentRate" name="commentRate">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>

            </div>
          </div>
          <div class="modal-footer">
            <button id="createCommentBtn" type="button">댓글 저장</button>
          </div>
        </div>
      </div>
    </div>



<!--    <div class="form-group">-->
<!--      <div class="custom-file img-div">-->
<!--        <input type="file" name="photoFile" class="custom-file-input">-->
<!--        <label class="custom-file-label" text="댓글이미지"></label>-->
<!--      </div>-->
<!--    </div>-->

    <div class="comment-left-half">
      <th:block th:each="comment, status: ${location.getCommentDtoList()}">
        <div>
          <div class="savedCommentMemberBox">
            <img class="savedCommentMemberImg" th:src="${comment.getImgUrl()}">
            <p class="savedCommentMemberName">[[${comment.name}]]</p>
          </div>
          <p class="savedCommentContent">[[${comment.content}]]</p>
          <p class="savedCommentRegTime">[[${comment.regTime}]]</p>
        </div>
<!--        비 로그인 유저가 들어왔을때ㅑ 에러 발생 -->
        <div th:if="${#strings.equals(comment.email, #authentication.principal.username)}">
          <button type="button" data-toggle="modal" data-target="#updateCommentModal">댓글 수정</button>
          <button id="deleteCommentBtn" th:value="${comment.id}" onclick="deleteComment(this.value)" >댓글 삭제</button>

          <div class="modal fade" id="updateCommentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="updateCommentModalLabel">댓글 수정</h4>
                </div>
                <div class="modal-body">
                  <!-- 모달 창 내의 데이터 입력 폼 -->
                  <div class="form-group">

                    <label for="commentContent"></label>
                    <textarea type="text" id="updateCommentContent" name="updateCommentContent"></textarea>

                    <select id="updateCommentRate" name="updateCommentRate">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>

                  </div>
                </div>
                <div class="modal-footer">
                  <button id="updateCommentBtn" type="button">댓글 수정</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="divider"></div>
  <!--      내가 쓴 글만 댓글 삭제 와 댓글 내용 변경이 보이게 -->
      </th:block>

    </div>

  </section>
</div>
</html>