<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript" th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap'" async defer></script>

  <script th:inline="javascript">

    $(document).on('click', "input[type='checkbox']", function(){
      if(this.checked) {
        const checkboxes = $("input[type='checkbox']");
        for(let i = 0; i < checkboxes.length; i++){
          checkboxes[i].checked = false;
        }
        this.checked = true;
      } else {
        this.checked = false;
      }
    });

    $(document).ready(function () {

      $("#moreInfo").on("click",function (){
        goToExplore(0)
      });


      $("#addFavoriteBtn").on("click", function () {

        //토큰 안적으면 403 포비던 뜸
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var locationId = $("#locationId").val();

        var paramData = {
          locationId : $("#locationId").val(),
          memo : $("#memo").val()
        };

        var param = JSON.stringify(paramData);

        $.ajax({
          url      : "/favorite/addFavoriteList",
          type     : "POST",
          contentType : "application/json",
          data     : param,
          beforeSend : function(xhr){
            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
            xhr.setRequestHeader(header, token);
          },
          dataType : "json",
          cache   : false,
          success  : function(result, status){

            if(result.code == '200'){
              location.href='/location/'+locationId;

            }else if (result.code == '400') {
              //memo 超過255字
              console.log('---------400--------')
              var memoError = document.getElementById("memoError");
              memoError.innerText = result.messageList[0];
            }

          },
          error : function(jqXHR, status, error, request){

            console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

            if(jqXHR.status == '401'){
              alert('로그인 후 이용해주세요');
              location.href='/members/login';
            } else{
              alert(jqXHR.status);
              // alert(jqXHR.responseText);
            }
          }
        });
      });

      $("#createCommentBtn").on("click", function () {

        //토큰 안적으면 403 포비던 뜸
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var locationId = $("#locationId").val();

        var paramData = {
          locationId : $("#locationId").val(),
          content : $("#commentContent").val(),
          rate: $("#commentRate").val(),
        };

        var param = JSON.stringify(paramData);

        $.ajax({
          url      : "/comment/createComment",
          type     : "POST",
          contentType : "application/json",
          data     : param,
          beforeSend : function(xhr){
            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
            xhr.setRequestHeader(header, token);
          },
          dataType : "json",
          cache   : false,
          success  : function(result, status,data){
            // alert("확인되었습니다.");

            // ApiResponse 만 사용하던 ResponseEntity 로 한번 감싸던 똑같이 result 로 사용 가능
            // location.href='/location/'+locationId;
            console.log("data : "+data);
            console.log("result :  " +result);
            console.log("result.code : "+result.code);
            console.log("result.data : "+result.data);
            console.log("result.messageList : "+result.messageList);
            console.log("result.status : "+result.status);

            if(result.code == '200'){
              location.href='/location/'+locationId;

            }else if (result.code == '400') {
              console.log('---------400--------')
              var commentError = document.getElementById("commentError");

              // 2~3 개 필드가 동시에 에러가 나면 0번째를 가져오면 안됨
              // 그러면 message 를 list 가 아니라 map 으로 가져와야 하나 ?
              commentError.innerText = result.messageList[0];
            }

          },
          error : function(jqXHR, status, error, result){

            //------------ error 로 빼지 말고 success 쪽에서 처리 하기 --------------
            console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
            console.log("code : "+jqXHR.code);
            console.log("status : "+jqXHR.status);
            console.log("messageList : "+jqXHR.messageList);
            console.log("data : "+jqXHR.data);
            console.log("result : "+result);
           var ab = [[${data}]]
            console.log("ab : "+ab);
            console.log("response : "+jqXHR.response);
            console.log("jqXHR : "+jqXHR);

            if(jqXHR.status == '401'){
              alert('로그인 후 이용해주세요');
              location.href='/members/login';
            } else{
              alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
              // alert(jqXHR.responseText);
            }
          }
        });
      });


      $("#updateCommentBtn").on("click", function () {

        //토큰 안적으면 403 포비던 뜸
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var locationId = $("#locationId").val();

        var paramData = {
          locationId : $("#locationId").val(),
          content : $("#updateCommentContent").val(),
          rate: $("#updateCommentRate").val(),
        };

        var param = JSON.stringify(paramData);

        $.ajax({
          url      : "/comment/updateComment",
          type     : "PUT",
          contentType : "application/json",
          data     : param,
          beforeSend : function(xhr){
            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
            xhr.setRequestHeader(header, token);
          },
          dataType : "json",
          cache   : false,
          success  : function(result, status){
            alert("확인되었습니다.");
            location.href='/location/'+locationId;

          },
          error : function(jqXHR, status, error, request){

            console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

            if(jqXHR.status == '401'){
              alert('로그인 후 이용해주세요');
              location.href='/members/login';
            } else{
              alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
              // alert(jqXHR.responseText);
            }
          }
        });
      });

      $("#inviteBtn").on("click", function () {

        //토큰 안적으면 403 포비던 뜸
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var locationId = $("#locationId").val();

        var checkValue;
        const checkboxes = $("input[type='checkbox']");

        for(let i = 0; i < checkboxes.length; i++){
          if(checkboxes[i].checked){
            checkValue = checkboxes[i].value;
          }
        }

        var paramData = {
          locationId : $("#locationId").val(),
          friendEmail : checkValue,
          departDateTime : $("#departDateTime").val(),
          message : $("#message").val()
        };


        var param = JSON.stringify(paramData);

        $.ajax({
          url      : "/hangOut/inviteFromLocationPage",
          type     : "POST",
          contentType : "application/json",
          data     : param,
          beforeSend : function(xhr){
            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
            xhr.setRequestHeader(header, token);
          },
          dataType : "json",
          cache   : false,
          success  : function(result, status){
            alert("확인되었습니다.");
            location.href='/location/'+locationId;

          },
          error : function(jqXHR, status, error, request){

            console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

            if(jqXHR.status == '401'){
              alert('로그인 후 이용해주세요');
              location.href='/members/login';
            } else{
              alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
              // alert(jqXHR.responseText);
            }
          }
        });
      });
    });

    function deleteComment(commentId) {

      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var locationId = $("#locationId").val();

      var paramData = {
        commentId : commentId

      };

      var param = JSON.stringify(paramData);

      $.ajax({
        url      : "/comment/deleteComment",
        type     : "DELETE",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("확인되었습니다.");
          location.href='/location/'+locationId;

        },
        error : function(jqXHR, status, error, request){

          console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
            // alert(jqXHR.responseText);
          }
        }
      });

    }

    var map;

    var latitude = [[${locationDtlResponse.latitude}]];
    var longitude = [[${locationDtlResponse.longitude}]];
    const latPosition = Number(latitude);
    const lngPosition = Number(longitude);


    window.onload = function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: { lat: latPosition, lng: lngPosition },
      });

      var marker = new google.maps.Marker({
        position: {lat: latPosition, lng: lngPosition},
        map: map,
        title: 'Marker Title' // 마커에 표시될 제목
      });
    }



    function goToExplore(page) {

      var searchArrival = $("#cityNameValue").val();

      location.href = "/explore/" + page + "?searchArrival=" + searchArrival;
    }


  </script>
</th:block>

<th:block layout:fragment="css">
  <style>


    #content{
      padding-left: 50px;
      padding-right: 50px;
    }

    #locationName{
      margin-top: 30px;
      margin-bottom: 30px;

    }

    .left-half {
      float: left;
      width: 40%;
    }

    .right-half {
      float: right;
      width: 60%;
    }

    .comment-left-half {
      float: left;
      width: 60%;
    }

    .comment-right-half {
      float: right;
      width: 40%;
    }

    .clear{
      clear: both;
    }

    #introduce{

      display: inline;
    }

    #addFavoriteBtn{
      margin: 10px;
      background-color:white;
      border: solid 1px #ffdd00;
      display: inline-block;
    }

    #addedFavoriteBtn{
      margin: 10px;
      background-color:white;
      border: solid 1px #ffdd00;
      display: inline-block;
    }

    #imgBox{
      height: 500px;
      width: 800px;
      padding-left: 50px;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .locationImg{
      /*object-fit: cover;*/
      width: 100%;
      height: 100%;
      border-radius: 10px;

    }

    #descBox{
      padding : 10px;
      height: 500px;
      width: 500px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      overflow: auto;
    }


    .savedCommentMemberBox{
      margin-top: 2rem;
    }

    .savedCommentMemberImg{
      width : 3rem;
      height: 3rem;
      display: inline;
      border-radius: 50%;
    }

    .savedCommentMemberName {
      margin-left: 10px;
      display: inline;
      font-weight: bold;

    }

    .savedCommentContent{
      margin-top: 10px;
      font-size: 15px;
    }

    .savedCommentRegTime {
      font-size: 13px;
      color: grey;
    }

    .divider{
      width: 100%;
      height: 1px;
      background-color: grey;
    }


    .inviteModal-left-half {
      float: left;
      width: 40%;
    }

    .inviteModal-right-half {
      float: right;
      width: 60%;
    }


    .checkableFriendBox{

      margin: 20px;
      padding: 10px;
      width: 340px;
      height: 110px;
      background-color: #fff; /* 배경색 지정 */
      border-radius: 8px; /* 테두리를 둥글게 만듭니다. */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
    }

    #friendChecker{
      display: inline;
    }

    .friendBoxImg{
      float : left;
      width : 90px;
      height : 90px;
    }

    .friendTextBox{
      float: right;
      width: 150px; /* 텍스트를 표시할 요소의 너비를 지정합니다. */
      height: 90px;
      white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 합니다. */
      overflow: hidden; /* 넘치는 부분은 숨김 처리합니다. */
      text-overflow: ellipsis; /* 넘치는 텍스트에 '...'을 추가하여 표시합니다. */

    }

    .friendText {
      margin-bottom: 0;

    }

    .fieldError {
      color: #bd2130;
    }




  </style>
</th:block>

<div layout:fragment="content">

  <input id="locationId" type="hidden" th:value="${locationDtlResponse.id}">

  <section id="content">
    <h1 id="locationName">[[${locationDtlResponse.name}]]</h1>


<!--  즐겨찾기  -->
    <div th:if="${locationDtlResponse.isSaved()}">
      <button id="addedFavoriteBtn"><i class="fa-thin fa-star" style="color: #ffdd00;"></i>이미 저장된 장소입니다.</button>
    </div>
    <div th:unless="${locationDtlResponse.isSaved()}">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFavoriteModal"><i class="fa-solid fa-star" style="color: #ffdd00;"></i></button>
    </div>

    <!-- 모달 창 -->
    <div class="modal fade" id="addFavoriteModal" tabindex="-1" role="dialog" aria-labelledby="addFavoriteModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="addFavoriteModalLabel">즐겨찾기 추가</h4>
          </div>
          <div class="modal-body">
            <!-- 모달 창 내의 데이터 입력 폼 -->
            <div class="form-group">
              <label for="memo">메모</label>
              <textarea type="text" name="memo" id="memo" placeholder="메모 내용을 입력해주세요."></textarea>
              <p id="memoError" class="fieldError"></p>
              <br>
            </div>
          </div>
          <div class="modal-footer">
            <button id="addFavoriteBtn" type="button" >추가</button>
          </div>
        </div>
      </div>
    </div>


<!--  약속 잡기 -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hangOutModal">약속 잡기</button>
    <!-- 모달 창 -->
    <div class="modal fade" id="hangOutModal" tabindex="-1" role="dialog" aria-labelledby="hangOutModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="hangOutModalLabel">약속 잡기</h4>
          </div>
          <div class="modal-body">
            <!-- 모달 창 내의 데이터 입력 폼 -->
            <div class="form-group">

              <div class="inviteModal-left-half">
<!--            친구 목록     -->
                <div class="checkableFriendBox" th:each="friend, status: ${locationDtlResponse.getFriendDtoList()}">

                  <input id="friendChecker" type="checkbox" th:value="${friend.friendEmail}">

                  <div th:if="${#strings.isEmpty(friend.friendImgUrl)}">
                    <img class = "friendBoxImg" src="/img/noImg.jpg">
                  </div>
                  <div th:unless="${#strings.isEmpty(friend.friendImgUrl)}">
                    <img class = "friendBoxImg" th:src="${friend.friendImgUrl}">
                  </div>
                  <div class="friendTextBox">
                    <p class="friendText">[[${friend.friendName}]]</p>
                    <p class="friendText">[[${friend.friendEmail}]]</p>
                  </div>
<!--                  <div class="friendBox">-->
<!--                    <div class="friendImgBox">-->
<!--                      &lt;!&ndash;            <button id="friendImgBtn" th:value="${friend.id}" onclick="showLocationDetail(this.value)">&ndash;&gt;-->
<!--                      <button id="friendImgBtn">-->
<!--                        <div th:if="${#strings.isEmpty(friend.getFriendImgUrl())}">-->
<!--                          <img class = "friendImg" src="/img/noImg.jpg">-->
<!--                        </div>-->
<!--                        <div th:unless="${#strings.isEmpty(friend.getFriendImgUrl())}">-->
<!--                          <img class = "friendImg" th:src="${friend.getFriendImgUrl()}">-->
<!--                        </div>-->
<!--                      </button>-->
<!--                    </div>-->

<!--                    <div class="friendNameBox">-->
<!--                      <div th:text="${friend.friendName}" class="fs24 font-weight-bold updatable"></div>-->
<!--                    </div>-->
<!--                  </div>-->
                </div>
              </div>

              <div class="inviteModal-right-half">
                <label for="message">메시지</label>
                <textarea type="text" name="message" id="message" placeholder="메시지 내용을 입력해주세요."></textarea>
                <input type="datetime-local" id="departDateTime" placeholder="출발 날짜">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="inviteBtn" type="button">요청 보내기</button>
          </div>
        </div>
      </div>
    </div>


    <div class="left-half">
      <div id="descBox">
        <h4 id="introduce">說明</h4>

        <p>[[${locationDtlResponse.tolDescribe}]]</p>

        <div th:if="${locationDtlResponse.address != null}">
          <p class="locationText"> address : [[${locationDtlResponse.address}]]</p>
        </div>

        <div th:if="${locationDtlResponse.openTime != null}">
          <p class="locationText"> open time : [[${locationDtlResponse.openTime}]]</p>
        </div>

        <div th:if="${locationDtlResponse.ticketInfo != null}">
          <p class="locationText"> Fee Info : [[${locationDtlResponse.ticketInfo}]]</p>
        </div>

        <div th:if="${locationDtlResponse.website != null}">
          <p class="locationText"> Website Url : [[${locationDtlResponse.website}]]</p>
        </div>

        <div th:if="${locationDtlResponse.tel != null}">
          <p class="locationText"> Tel : [[${locationDtlResponse.tel}]]</p>
        </div>

        <div th:if="${locationDtlResponse.remarks != null}">
          <p class="locationText"> remark : [[${locationDtlResponse.remarks}]]</p>
        </div>

        <div th:if="${locationDtlResponse.travellingInfo != null}">
          <p class="locationText"> traffic_Info : [[${locationDtlResponse.travellingInfo}]]</p>
        </div>

        <div th:if="${locationDtlResponse.parkingInfo != null}">
          <p class="locationText"> parking_info : [[${locationDtlResponse.parkingInfo}]]</p>
        </div>

        <div id="map" style="width:100%; height: 450px;"></div>
      </div>
    </div>

    <div class="right-half">
      <div id="imgBox">
        <div th:if="${#strings.isEmpty(locationDtlResponse.picture1)}">
          <img class = "locationImg" src="/img/noImg.jpg">
        </div>
        <div th:unless="${#strings.isEmpty(locationDtlResponse.picture1)}">
          <img class = "locationImg" th:src="${locationDtlResponse.picture1}">
        </div>
      </div>
    </div>

    <div class="clear"></div>


<!--            댓   글      기    능            -->

    <button type="button" data-toggle="modal" data-target="#commentModal">댓글 작성</button>


    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="commentModalLabel">댓글 추가</h4>
          </div>
          <div class="modal-body">
            <!-- 모달 창 내의 데이터 입력 폼 -->
            <div class="form-group">

              <label for="commentContent"></label>
              <textarea type="text" id="commentContent" name="commentContent"></textarea>
              <p id="commentError" class="fieldError"></p>

                  <select id="commentRate" name="commentRate">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>

            </div>
          </div>
          <div class="modal-footer">
            <button id="createCommentBtn" type="button">댓글 저장</button>
          </div>
        </div>
      </div>
    </div>



<!--    <div class="form-group">-->
<!--      <div class="custom-file img-div">-->
<!--        <input type="file" name="photoFile" class="custom-file-input">-->
<!--        <label class="custom-file-label" text="댓글이미지"></label>-->
<!--      </div>-->
<!--    </div>-->

    <div class="comment-left-half">
      <th:block th:each="comment, status: ${locationDtlResponse.getCommentDtoList()}">
        <div>
          <div class="savedCommentMemberBox">
            <img class="savedCommentMemberImg" th:src="${comment.getImgUrl()}">
            <p class="savedCommentMemberName">[[${comment.name}]]</p>
          </div>
          <p class="savedCommentContent">[[${comment.content}]]</p>
          <p class="savedCommentRegTime">[[${comment.regTime}]]</p>
<!--          점수 출력하기 (추가 필요)-->
        </div>
<!--        비 로그인 유저가 들어왔을때ㅑ 에러 발생 -->
        <div th:if="${#strings.equals(comment.email, #authentication.principal.username)}">
          <button type="button" data-toggle="modal" data-target="#updateCommentModal">댓글 수정</button>
          <button id="deleteCommentBtn" th:value="${comment.id}" onclick="deleteComment(this.value)" >댓글 삭제</button>

          <div class="modal fade" id="updateCommentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="updateCommentModalLabel">댓글 수정</h4>
                </div>
                <div class="modal-body">
                  <!-- 모달 창 내의 데이터 입력 폼 -->
                  <div class="form-group">

                    <label for="commentContent"></label>
                    <textarea type="text" id="updateCommentContent" name="updateCommentContent"></textarea>

                    <select id="updateCommentRate" name="updateCommentRate">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>

                  </div>
                </div>
                <div class="modal-footer">
                  <button id="updateCommentBtn" type="button">댓글 수정</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="divider"></div>
  <!--      내가 쓴 글만 댓글 삭제 와 댓글 내용 변경이 보이게 -->
      </th:block>

    </div>

  </section>
</div>
</html>